# Web Scraping(Selenium) Assignment-2

Q1: Write a python program to scrape data for “Data Analyst” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name, experience_required. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Analyst” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [2]:
import selenium
from selenium import webdriver
import pandas as pd
import warnings
warnings.filterwarnings('ignore')
import time

In [2]:
driver=webdriver.Chrome('chromedriver.exe')

In [3]:
url="https://www.naukri.com/"
driver.get(url)

In [4]:
search_job=driver.find_element_by_class_name('suggestor-input ')
search_job

In [5]:
search_job.send_keys('Data Analyst')

In [6]:
search_locn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')
search_locn

In [7]:
search_locn.send_keys('Bangalore')

In [8]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')
search_btn

In [9]:
search_btn.click()

##### Job Titles

In [10]:
job_titles=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')

In [11]:
titles=[]
for i in job_titles:
    titles.append(i.text)
titles

['Flight data analyst (372)',
 'Senior Data Analyst',
 'software developer & Testing / Business Analyst/Data Analyst/Python.',
 'Staff Business Data Analyst - FDP',
 'Data Analyst - IIM/ISB/MDI/FMS/SP Jain',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Senior Data Analyst',
 'Data Analyst',
 'Looking For Data Analyst',
 'Senior Data Analyst (Digital Services Analytics)',
 'Tcs Hiring For Data Analyst / Data Engineer',
 'Data Analyst',
 'Data Analyst',
 'Data Analyst For Text / Sentiment Analysis',
 'Data Analyst / BI Analytics Consultant - Night Shift - NA',
 'Data Analyst || Advance Excel || D Limit || Concatenate',
 'Data Analyst (Python, SQL, Excel)',
 'Data Analyst',
 'Market Data Analyst']

##### Job Location

In [12]:
locn=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')

In [13]:
job_loc=[]
for i in locn:
    job_loc.append(i.text)
job_loc

['Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumbai (All Areas)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru, Mumbai (All Areas)',
 'Ahmedabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Pune, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru(Residency Road)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru(Hebbal Kempapura)',
 '(WFH during Covid)',
 'Hyderabad/Secunderabad, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru']

In [14]:
job_loc.pop(7)

'Bangalore/Bengaluru'

##### Company_name

In [15]:
com_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')

In [16]:
name=[]
for i in com_name:
    name.append(i.text)
name

['NEST DIGITAL PRIVATE LIMITED',
 'Capco',
 'SECRET TECHNOLOGIES INDIA VMS GROUP',
 'Intuit Inc.',
 'K12 Techno Services Pvt Ltd',
 'Mobile Premier League',
 'Flipkart',
 'Flipkart',
 'SunEdison',
 'Trellance',
 'Dell',
 'TCS',
 'SWIRE DIGITAL CENTRE PRIVATE LIMITED',
 'Walmart',
 'FUTURLYTIC PRIVATE LIMITED',
 'Oracle',
 'Inspiration Manpower Consultancy Pvt. Ltd.',
 'Flipkart',
 'Flipkart',
 'Schneider Electric']

##### Experience

In [22]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')

In [23]:
experience=[]
for i in exp:
    experience.append(i.text)
experience

['0-1 Yrs',
 '4-8 Yrs',
 '0-4 Yrs',
 '5-7 Yrs',
 '4-9 Yrs',
 '3-6 Yrs',
 '3-6 Yrs',
 '3-7 Yrs',
 '2-7 Yrs',
 '0-2 Yrs',
 '1-6 Yrs',
 '3-8 Yrs',
 '5-7 Yrs',
 '2-6 Yrs',
 '0-1 Yrs',
 '2-7 Yrs',
 '2-4 Yrs',
 '1-2 Yrs',
 '2-5 Yrs']

In [26]:
df=pd.DataFrame()
df['Job Title']=titles[:10]
df['Job Location']=job_loc[:10]
df['Company Name']=name[:10]
df['Experience Required']=experience[:10]
df

,Job Title,Job Location,Company Name,Experience Required
0,Flight data analyst (372),Bangalore/Bengaluru,NEST DIGITAL PRIVATE LIMITED,0-1 Yrs
1,Senior Data Analyst,Bangalore/Bengaluru,Capco,4-8 Yrs
2,software developer & Testing / Business Analys...,"Pune, Bangalore/Bengaluru(Shivaji Nagar), Mumb...",SECRET TECHNOLOGIES INDIA VMS GROUP,0-4 Yrs
3,Staff Business Data Analyst - FDP,(WFH during Covid),Intuit Inc.,5-7 Yrs
4,Data Analyst - IIM/ISB/MDI/FMS/SP Jain,Bangalore/Bengaluru,K12 Techno Services Pvt Ltd,4-9 Yrs
5,Senior Data Analyst,Bangalore/Bengaluru,Mobile Premier League,3-6 Yrs
6,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-6 Yrs
7,Senior Data Analyst,Bangalore/Bengaluru,Flipkart,3-7 Yrs
8,Data Analyst,"Bangalore/Bengaluru, Mumbai (All Areas)",SunEdison,2-7 Yrs
9,Looking For Data Analyst,"Ahmedabad, Bangalore/Bengaluru",Trellance,0-2 Yrs

Q2: Write a python program to scrape data for “Data Scientist” Job position in “Bangalore” location. You have to scrape the job-title, job-location, company_name. You have to scrape first 10 jobs data.
This task will be done in following steps:
1. First get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, Companies” field and enter “Bangalore” in “enter the location” field.
3. Then click the search button.
4. Then scrape the data for the first 10 jobs results you get.
5. Finally create a dataframe of the scraped data.

In [27]:
driver=webdriver.Chrome('chromedriver.exe')

In [28]:
url="https://www.naukri.com/"
driver.get(url)

In [29]:
search_job=driver.find_element_by_class_name("suggestor-input ")

In [30]:
search_job.send_keys('Data Scientist')

In [31]:
search_loc=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[3]/div/div/div/input')

In [32]:
search_loc.send_keys('Bangalore')

In [33]:
search_btn=driver.find_element_by_xpath('/html/body/div/div[2]/div[3]/div/div/div[6]')

In [34]:
search_btn.click()

##### Job title

In [35]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title=[]
for i in job_title:
    title.append(i.text)
title

['Data Scientist / Analyst',
 'Forecasting Analyst/ Data Scientist (US Client)',
 'Consultant - Junior Data Scientist',
 'Excellent Opportunity For Freshers For AI/ML, Data Scientist, BI, QA',
 'Junior Data Scientist',
 'Data Scientist',
 'Data Scientist',
 'Data Scientist: Artificial Intelligence',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Senior Data Scientist',
 'Sr. Data Scientist, Digital Services Analytics',
 'HCL Tech Opening - Senior Data Scientist',
 'Cognitive/AI Senior Data Scientist',
 'Sr. Product Data Scientist',
 'Data Scientist II- Merchandise & Discovery',
 'Virtusa Hiring DATA Scientist- PAN India',
 'Data Scientist',
 'Urgent Requirement - Data Scientist For a leading US Based MNC',
 'Lead Data Scientist']

##### Job location

In [36]:
locn=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
location=[]
for i in locn:
    location.append(i.text)
location

['Bangalore/Bengaluru',
 'Gurgaon/Gurugram, Bangalore/Bengaluru',
 '(WFH during Covid)',
 'Navi Mumbai, New Delhi, Bangalore/Bengaluru',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Pune, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Noida, Kolkata, Hyderabad/Secunderabad, Pune, Chennai, Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Pune, Gurgaon/Gurugram, Chennai, Bangalore/Bengaluru, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Bangalore/Bengaluru',
 'Hyderabad/Secunderabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 'Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '(WFH during Covid)']

##### Company Name

In [37]:
name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in name:
    company_name.append(i.text)
company_name

['open data fabric',
 'Concentrix',
 'Flexing It',
 'NTT Data',
 'Titan',
 'Amazon',
 'Hewlett-Packard (HP)',
 'IBM',
 'newscorp',
 'Walmart',
 'Precisely',
 'Dell',
 'HCL',
 'IBM',
 'Uber',
 'Swiggy',
 'Virtusa',
 'Visa',
 'BLJ TECH GEEKS',
 'TransOrg Solutions Services (P) Ltd.']

In [39]:
df=pd.DataFrame()
df['Job Titles']=title[:10]
df['Location']=location[:10]
df['Company Name']=company_name[:10]
df

,Job Titles,Location,Company Name
0,Data Scientist / Analyst,Bangalore/Bengaluru,open data fabric
1,Forecasting Analyst/ Data Scientist (US Client),"Gurgaon/Gurugram, Bangalore/Bengaluru",Concentrix
2,Consultant - Junior Data Scientist,(WFH during Covid),Flexing It
3,"Excellent Opportunity For Freshers For AI/ML, ...","Navi Mumbai, New Delhi, Bangalore/Bengaluru",NTT Data
4,Junior Data Scientist,"Noida, Kolkata, Hyderabad/Secunderabad, Pune, ...",Titan
5,Data Scientist,(WFH during Covid),Amazon
6,Data Scientist,Bangalore/Bengaluru,Hewlett-Packard (HP)
7,Data Scientist: Artificial Intelligence,"Hyderabad/Secunderabad, Pune, Bangalore/Bengaluru",IBM
8,Senior Data Scientist,Bangalore/Bengaluru,newscorp
9,Senior Data Scientist,Bangalore/Bengaluru,Walmart

Q3: In this question you have to scrape data using the filters available on the webpage as shown below
    You have to use the location and salary filter.
You have to scrape data for “Data Scientist” designation for first 10 job results.
You have to scrape the job-title, job-location, company name, experience required. The location filter to be used is “Delhi/NCR”. The salary filter to be used is “3-6” lakhs
The task will be done as shown in the below steps:
1. first get the webpage https://www.naukri.com/
2. Enter “Data Scientist” in “Skill, Designations, and Companies” field.
3. Then click the search button.
4. Then apply the location filter and salary filter by checking the respective boxes
5. Then scrape the data for the first 10 jobs results you get.
6. Finally create a dataframe of the scraped data

In [44]:
driver=webdriver.Chrome('chromedriver.exe')

In [45]:
url="https://www.naukri.com/"
driver.get(url)

In [46]:
search_job=driver.find_element_by_class_name("suggestor-input ")

In [47]:
search_job.send_keys('Data Scientist')

In [48]:
search_btn=driver.find_element_by_xpath("//div[@class='qsbSubmit']")

In [49]:
search_btn.click()

In [58]:
location_check=driver.find_element_by_xpath("/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[2]/div[2]/div[2]/label/p/span[1]")

In [59]:
location_check.click()

In [60]:
salary_check=driver.find_element_by_xpath('/html/body/div[1]/div[3]/div[2]/section[1]/div[2]/div[4]/div[2]/div[1]/label/i')

In [61]:
salary_check.click()

##### Job Titles

In [62]:
job_title=driver.find_elements_by_xpath('//a[@class="title fw500 ellipsis"]')
title=[]
for i in job_title:
    title.append(i.text)
title

['Senior Data Scientist',
 'Required! Data Scientist Executives',
 'Fresher Data Engineer with Pentaho Certification',
 'Trainee/ Junior - SQL DBA / Data Engineer',
 'Associate Data Engineer',
 'Associate Data Analyst',
 'Hiring MIS/Data Analyst',
 'Azure DATA Factory- Senior DATA Engineer For MIND TREE Company',
 'Azure Data Engineer',
 'Azure Developers For N NextGen 1/data engineer/azure/data bricks',
 'Legal Research Analyst / Senior Analyst',
 'Data Science Manager',
 'Research Analyst Legal Due diligence',
 'Quality Analyst Regional Language ( Marathi & Bengali & Gujarati )',
 'Business Analyst',
 'Analyst - Sales Operations',
 'Job opportunity in Gurgaon in Knowledge Analyst',
 'Hiring Sales Analyst - Sales Operations',
 'Hiring BI Analyst / MIS Executive']

##### Job Location

In [64]:
job_loc=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi location"]/span')
job_location=[]
for i in job_loc:
    job_location.append(i.text)
job_location

['Gurgaon/Gurugram, Chennai',
 '(WFH during Covid)',
 'Hyderabad/Secunderabad, Delhi / NCR',
 '(WFH during Covid)',
 'Thane, Navi Mumbai, Pune, Ahmedabad, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Delhi / NCR',
 '(WFH during Covid)',
 'Gurgaon/Gurugram, Delhi / NCR',
 '(WFH during Covid)',
 'Gurgaon/Gurugram, Delhi / NCR',
 '(WFH during Covid)',
 'Noida, New Delhi, Faridabad, Gurgaon/Gurugram, Delhi / NCR',
 '(WFH during Covid)',
 'Chennai, Bangalore/Bengaluru, Delhi / NCR',
 '(WFH during Covid)',
 'Noida, Bangalore/Bengaluru, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR',
 '(WFH during Covid)',
 'Gurgaon/Gurugram',
 '(WFH during Covid)',
 'Gurgaon/Gurugram',
 '(WFH during Covid)',
 'Gurgaon/Gurugram, Delhi / NCR',
 '(WFH during Covid)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 '(WFH during Covid)',
 'Kolkata, Hyderabad/Secunderabad, Pune, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Kolkata, Hyderabad/Secunderabad, Ahmedabad, Chennai, Bangalore/Bengaluru, Delhi / NCR, Mumbai (All Areas)',
 '(WFH during Covid)',
 'Noida, Gurgaon/Gurugram, Delhi / NCR',
 '(WFH during Covid)',
 'Gurgaon/Gurugram, Delhi / NCR',
 '(WFH during Covid)',
 'Gurgaon/Gurugram, Delhi / NCR',
 '(WFH during Covid)']

##### Company Name

In [65]:
com_name=driver.find_elements_by_xpath('//a[@class="subTitle ellipsis fleft"]')
company_name=[]
for i in com_name:
    company_name.append(i.text)
company_name

['DECISION POINT PRIVATE LIMITED',
 'Web King Services',
 'PARAMOUNT HEALTH SERVICES INSURANCE TPA PRIVATE',
 'IKOKAS Technologies Private Limited',
 'Quantum Value CFO Services',
 'COOLBOOTS MEDIA PRIVATE LIMTED',
 'NIIT',
 'Alphacom Systems and Solutions Pvt Ltd',
 'Santo Systems Private Limited',
 'Yoodobuzz Private Limited',
 'ZIGRAM',
 'Cashgrail Private Limited',
 'EASTERN ELEGANCE PVT LTD',
 'OLX People Recruitment',
 'Fidelis Corporate Solutions Pvt Ltd',
 'Artech Infosystems Pvt. Ltd.',
 'Talent HR Networks Pvt Ltd',
 'Real Time Data Services (P). Ltd.',
 'Real Time Data Services (P). Ltd.']

##### Experience

In [66]:
exp=driver.find_elements_by_xpath('//li[@class="fleft grey-text br2 placeHolderLi experience"]/span')
experience=[]
for i in exp:
    experience.append(i.text)
experience

['2-5 Yrs',
 '0-5 Yrs',
 '0-1 Yrs',
 '0-2 Yrs',
 '1-4 Yrs',
 '2-4 Yrs',
 '3-8 Yrs',
 '6-10 Yrs',
 '6-11 Yrs',
 '8-10 Yrs',
 '0-3 Yrs',
 '8-11 Yrs',
 '0-2 Yrs',
 '0-5 Yrs',
 '3-4 Yrs',
 '2-5 Yrs',
 '1-3 Yrs',
 '1-3 Yrs',
 '1-4 Yrs']

In [68]:
df=pd.DataFrame()
df['Job Title']=title[:10]
df['Job Location']=job_location[:10]
df['Company Name']=company_name[:10]
df['Experience Required']=experience[:10]
df

,Job Title,Job Location,Company Name,Experience Required
0,Senior Data Scientist,"Gurgaon/Gurugram, Chennai",DECISION POINT PRIVATE LIMITED,2-5 Yrs
1,Required! Data Scientist Executives,(WFH during Covid),Web King Services,0-5 Yrs
2,Fresher Data Engineer with Pentaho Certification,"Hyderabad/Secunderabad, Delhi / NCR",PARAMOUNT HEALTH SERVICES INSURANCE TPA PRIVATE,0-1 Yrs
3,Trainee/ Junior - SQL DBA / Data Engineer,(WFH during Covid),IKOKAS Technologies Private Limited,0-2 Yrs
4,Associate Data Engineer,"Thane, Navi Mumbai, Pune, Ahmedabad, Bangalore...",Quantum Value CFO Services,1-4 Yrs
5,Associate Data Analyst,(WFH during Covid),COOLBOOTS MEDIA PRIVATE LIMTED,2-4 Yrs
6,Hiring MIS/Data Analyst,Delhi / NCR,NIIT,3-8 Yrs
7,Azure DATA Factory- Senior DATA Engineer For M...,(WFH during Covid),Alphacom Systems and Solutions Pvt Ltd,6-10 Yrs
8,Azure Data Engineer,"Gurgaon/Gurugram, Delhi / NCR",Santo Systems Private Limited,6-11 Yrs
9,Azure Developers For N NextGen 1/data engineer...,(WFH during Covid),Yoodobuzz Private Limited,8-10 Yrs

Q4: Scrape data of first 100 sunglasses listings on flipkart.com. You have to scrape four attributes:
1. Brand
2. Product Description
3. Price
4. Discount

In [3]:
driver=webdriver.Edge('msedgedriver.exe')

In [4]:
url="https://www.flipkart.com/"
driver.get(url)

In [6]:
search_items=driver.find_element_by_xpath("//input[@class='_3704LK']")

In [7]:
search_items.send_keys("sunglasses")

In [8]:
search_btn=driver.find_element_by_xpath("//button[@class='L0Z3Pu']")

In [9]:
search_btn.click()

In [10]:
import time
from selenium.webdriver.common.by import By

In [11]:
def scrape_brand_name(url):
    brand=[]
    driver.get(url)
    try:
        brand_el=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
        time.sleep(3)
        
        for i in brand_el:
            
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
            
        return brand
    except StaleElementReferenceException as e:
        print("exception raised",e)

In [12]:
def scrape_product_des(url):
    product_des=[]
    driver.get(url)
    product_el=driver.find_elements_by_xpath("//a[@class='IRpwTa']")
    for i in product_el:
        try:
            product_des.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            product_des.append("--")
        
    return product_des

In [13]:
def scrape_price(url):
    price=[]
    driver.get(url)
    price_el=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
            
        except:
            price.append("--")
        
    return price

In [14]:
def scrape_discount(url):
    discount=[]
    driver.get(url)
    
    discount_el=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
        
    for i in discount_el:
        
        try:
            
            discount.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            discount.append("--")
        
    return discount

In [15]:
from selenium.common.exceptions import StaleElementReferenceException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
from selenium.webdriver.common.by import By

In [16]:
brand_list=[]
product_list=[]
discount_list=[]
price_list=[]
urls='https://www.flipkart.com/search?q=sunglasses&otracker=search&otracker1=search&marketplace=FLIPKART&as-show=on&as=off&page='
for i in ['1','2','3']:

   url= urls+i
   time.sleep(5)
   brand=scrape_brand_name(url)
   brand_list.extend(brand) 
   product=scrape_product_des(url)
   product_list.extend(product)
   discount=scrape_discount(url)
   discount_list.extend(discount)
   price=scrape_price(url)
   price_list.extend(price)

In [18]:
#creating DataFrame for the scraped Data

df=pd.DataFrame()
df['Index']=range(1,101)
df["BRAND"]=brand_list[:100]
df["PRODUCT_DESCRIPTION"]=product_list[:100]
df["DISCOUNT"]=discount_list[:100]
df["PRICE"]=price_list[:100]
df.set_index('Index',inplace=True)
df

,BRAND,PRODUCT_DESCRIPTION,DISCOUNT,PRICE
Index,,,,
1,ROYAL SON,Others Retro Square Sunglasses (Free Size),85% off,₹709
2,NuVew,UV Protection Round Sunglasses (Free Size),64% off,₹246
3,SUNBEE,"UV Protection, Polarized Wayfarer Sunglasses (...",84% off,₹203
4,Elligator,UV Protection Round Sunglasses (54),91% off,₹208
5,PIRASO,UV Protection Aviator Sunglasses (54),89% off,₹175
...,...,...,...,...
96,NuVew,UV Protection Retro Square Sunglasses (Free Size),79% off,₹649
97,IDEE,"UV Protection, Gradient Butterfly, Retro Squar...",62% off,₹929
98,Elligator,"Mirrored, Gradient, Riding Glasses Round Sungl...",86% off,₹261
99,Johaena,"UV Protection, Gradient Butterfly, Over-sized ...",90% off,₹127
100,AISLIN,UV Protection Round Sunglasses (50),73% off,₹472

Q5: Scrape 100 reviews data from flipkart.com for iphone11 phone. You have to go the link: https://www.flipkart.com/apple-iphone-11-black-64-gb-includes- earpods-power- adapter/p/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC TSVZAXUHGREPBFGI&marketplace.
As shown in the above page you have to scrape the tick marked attributes.These are:
1. Rating
2. Review summary
3. Full review
4. You have to scrape this data for first 100 reviews

In [174]:
driver=webdriver.Edge('msedgedriver.exe')

In [175]:
url="https://www.flipkart.com/apple-iphone-11-black-64-gb-includes-earpods-power-adapter/product-reviews/itm0f37c2240b217?pid=MOBFKCTSVZAXUHGR&lid=LSTMOBFKC&page=1"
driver.get(url)

In [176]:
# Rating
def scrape_rating():
    rating=[]
    driver.refresh()
    rating_el=driver.find_elements_by_xpath("//div[@class='_3LWZlK _1BLPMq']")
    time.sleep(3)
    for i in rating_el:
        try:
            rating.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            rating.append("--")
    return rating

In [177]:
# Review Summary
def review_sum():
    summary=[]
    sum_ls=driver.find_elements_by_xpath("//p[@class='_2-N8zT']")
    for i in sum_ls:
        try:
            summary.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            summry.append('--')
            
    return summary

In [178]:
# Full Review:
def full_review():
    full_reviews=[]
    review_ls=driver.find_elements_by_xpath("//div[@class='t-ZTKy']/div")
    for i in review_ls:
        try:
            full_reviews.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            full_reviews.append('--')
            
    return full_reviews

In [179]:
import time
rating=[]
summary=[]
full_reviews=[]
length=len(rating)
while(length<=100):
    driver.refresh()
    rating.extend(scrape_rating())
    summary.extend(review_sum())
    full_reviews.extend(full_review())
    length=len(rating)
    next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_btn.click()
len(rating)

110

In [180]:
# Creating a dataframe:
df=pd.DataFrame()
df['Index']=range(1,101)
df['Ratings']=rating[:100]
df['Review Summary']=summary[:100]
df['Full Review']=full_reviews[:100]
df.set_index("Index",inplace=True)
df

,Ratings,Review Summary,Full Review
Index,,,
1,5,Brilliant,The Best Phone for the Money\n\nThe iPhone 11 ...
2,5,Simply awesome,Really satisfied with the Product I received.....
3,5,Best in the market!,Great iPhone very snappy experience as apple k...
4,5,Perfect product!,Amazing phone with great cameras and better ba...
5,5,Fabulous!,This is my first iOS phone. I am very happy wi...
...,...,...,...
96,5,Worth every penny,Best budget Iphone till date ❤️ go for it guys...
97,5,Classy product,Totally in love with this ❤ the camera quality...
98,5,Worth every penny,It’s been almost a month since I have been usi...
99,5,Terrific,Really worth of money. i just love it. It is t...
100,5,Wonderful,This is my first ever I phone. Before this I w...

Q6: Scrape data for first 100 sneakers you find when you visit flipkart.com andsearch for “sneakers” in the search field.
You have to scrape 4 attributes of each sneaker:
1. Brand
2. Product Description
3. Price

In [181]:
driver=webdriver.Edge('msedgedriver.exe')

In [182]:
url="https://www.flipkart.com"
driver.get(url)

In [185]:
search=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/div/input")
search

In [186]:
search.send_keys('sneakers')

In [187]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/div/div[1]/div[1]/div[2]/div[2]/form/div/button")

In [188]:
search_btn.click()

In [189]:
# Brand
def scrape_brand():
    brand=[]
    brand_el=driver.find_elements_by_xpath("//div[@class='_2WkVRV']")
    time.sleep(3)
    for i in brand_el:
        try:
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            brand.append("--")
    return brand

In [190]:
## Product description
def scrape_product_des():
    product_des=[]
    des_el=driver.find_elements_by_xpath("//a[@class='IRpwTa' or @class='IRpwTa _2-ICcC']")
    print(len(des_el))
    time.sleep(3)
    for i in des_el:
        try:
            product_des.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            product_des.append("--")
    return product_des

In [191]:
def scrape_price():
    price=[]
    price_el=driver.find_elements_by_xpath("//div[@class='_30jeq3']")
    time.sleep(3)
    for i in price_el:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            price.append("--")
            
    return price

In [192]:
def scrape_discount():
    discount=[]
    discount_el=driver.find_elements_by_xpath("//div[@class='_3Ay6Sb']/span")
    time.sleep(3)
    for i in discount_el:
        try:
            discount.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            discount.append("--")
            
    return discount

In [193]:
import time
brand=[]
product_des=[]
price=[]
discount=[]
length=len(brand)
while(length<=100):
    driver.refresh()
    brand.extend(scrape_brand())
    product_des.extend(scrape_product_des())
    price.extend(scrape_price())
    discount.extend(scrape_discount())
    time.sleep(3)
    next_btn=driver.find_element_by_xpath("//a[@class='_1LKTO3']/span")
    next_btn.click()
    length=len(brand)
len(price)

40
40
40

120

In [194]:
import pandas as pd
df=pd.DataFrame()
df["INDEX"]=range(1,101)
df["BRAND"]=brand[:100]
df["PRODUCT_DESCRIPTION"]=product_des[:100]
df["DISCOUNT"]=discount[:100]
df["PRICE"]=price[:100]
df.set_index("INDEX",inplace=True)
df

,BRAND,PRODUCT_DESCRIPTION,DISCOUNT,PRICE
INDEX,,,,
1,ASTEROID,Sneakers For Men,78% off,₹424
2,Shoes villa,Ultralight Latest Collection Sports Running Sh...,77% off,₹449
3,Chevit,Super Stylish & Trendy Combo Pack of 02 Pairs ...,70% off,₹469
4,Kzaara,Sneakers For Men,79% off,₹209
5,CLYMB,"Perfect Sports Shoes for Men's Running ,Cyclin...",80% off,₹199
...,...,...,...,...
96,RapidBox,Sneakers For Men,40% off,₹590
97,Shoes Bank,White Sneaker For Men's/Boy's Sneakers For Men,75% off,₹248
98,World Wear Footwear,Sneakers For Men,61% off,₹190
99,BRUTON,Modern & Trendy Collection Combo Pack of 02 Sh...,83% off,₹421
100,RapidBox,Stylish & Trendy Sneakers For Men,42% off,₹570

Q7: Go to the link - https://www.myntra.com/shoes
Set Price filter to “Rs. 7149 to Rs. 14099 ” , Color filter to “Black”, as shown inthe below image.
And then scrape First 100 shoes data you get. The data should include “Brand” of the shoes , Short Shoe description, price of the shoe as shown.

In [195]:
driver=webdriver.Edge('msedgedriver.exe')

In [196]:
url="https://www.myntra.com/shoes"
driver.get(url)

In [197]:
filter_price=driver.find_elements_by_xpath("//label[@class='common-customCheckbox vertical-filters-label']")

In [198]:
filter_price[7].click()

In [199]:
filter_colors=driver.find_elements_by_xpath("/html/body/div[2]/div/div[1]/main/div[3]/div[1]/section/div/div[6]/ul/li[1]/label/div")

In [200]:
filter_colors[0].click()

In [201]:
brand=driver.find_elements_by_xpath("//h3[@class='product-brand']")

In [208]:
# Scrape Brand:
def scrape_brand():
    brand=[]
    brand_ls=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h3")
    time.sleep(3)
    for i in brand_ls:
        try:
            brand.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            brand.append("--")
    return brand

In [209]:
# Srape shoe description:
def scrape_des():
    description=[]
    des_ls=driver.find_elements_by_xpath("//div[@class='product-productMetaInfo']/h4")
    time.sleep(3)
    for i in des_ls:
        try:
            description.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            description.append("--")
    return description

In [210]:
# Scrape Price:
def scrape_price():
    price=[]
    price_ls=driver.find_elements_by_xpath("//div[@class='product-price']/span")
    time.sleep(3)
    for i in price_ls:
        try:
            price.append(i.text)
            driver.execute_script("window.scrollBy(0,document.body.scrollHeight0)")
        except:
            price.append("--")
    return price

In [205]:
brand=[]
description=[]
price=[]
length=len(brand)
while(length<=100):
    driver.refresh()
    brand.extend(scrape_brand())
    description.extend(scrape_des())
    price.extend(scrape_price())
    time.sleep(3)
    length=len(brand)
    next_btn=driver.find_element_by_xpath("//li[@class='pagination-next']/a")
    next_btn.click()
    
len(price)

421

In [206]:
desc=[]
for i in range(0,300,2):
    desc.append(description[i])
desc

['Men Printed Sneakers',
 'Men Winflo 7 Running Shoes',
 'Electrify Nitro Running Shoes',
 'Men Cleated Leather Sneakers',
 'Men Leather Driving Shoes',
 'Men Woven Design Sneakers',
 'Men Jamming 2.0 Running Shoes',
 'Eternity Nitro Running Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Air Max Dawn Sneakers',
 'Men Training or Gym Shoes',
 'Women Eternity NITRO Shoes',
 'Men Solid Leather Formal Slip-Ons',
 'Men Formal Derbys',
 'Men Solid Leather Formal Derbys',
 'Women Velocity NITRO Runners',
 'Men Solid Formal Leather Derbys',
 'Men Solid Formal Slip-Ons',
 'Men FACET OUTDRY Trekking Shoe',
 'Men Mid-Top Chelsea Boots',
 'Men Solid Leather Formal Loafers',
 'Women Running Shoes',
 'Men Solid Loafers',
 'Men Black Leather Loafers',
 'Men Perforations Leather Slip-On Sneakers',
 'Men Textured Formal Leather Loafers',
 'Wedge Sandals',
 'Unisex Training or Gym Shoes',
 'Women Leather Block Heels',
 'Men Leather Derbys',
 'Men Leather Loafers',
 'Men Formal Derbys',
 'Men Leather Flat Boots',
 'Men Formal Leather Slip-Ons',
 'Leather Slim Heels',
 'Leather Block Heeled Boots',
 'Women Leather Pumps',
 'Striped Suede Flatform Heeled Boots',
 'Suede High-Top Block Heeled Boots',
 'High-Top Block Heeled Boots',
 'Women Leather Sneakers',
 'Suede High-Top Block Heeled Boots',
 'Printed PU Kitten Sandals',
 'High-Top Comfort Heeled Boots',
 'PU Block Pumps with Buckles',
 'Leather Slip-On Ballerinas',
 'Women Solid Leather Ballerina',
 'Women Woven Running Shoes',
 'PEAKFREAK XCRSN Trekking Shoe',
 'Women REDMOND V2 TrekkingShoe',
 'Women REDMOND V2 TrekkingShoe',
 'PEAKFREAK OUTDRY Trekking Shoe',
 'Men Solid Formal Oxfords',
 'Men Solid Leather Formal Monks',
 'Men Leather Driving Shoes',
 'Men Walking Shoes',
 'Men Solid Leather Formal Derbys',
 'Men Wingtip Oxford Sneakers',
 'Men GENERATION ZEROGRAND STITCHLITE',
 'Men Textured Leather Loafers',
 'Men Textured Leather Loafers',
 'Men Textured Leather Formal Derbys',
 'Women Leather Mules',
 'Women Solid Leather Pumps',
 'Women Solid Leather Pumps',
 'Men Running Shoes',
 'Men Formal Leather Derby',
 'Cabo WP Riding Boots',
 'Men Colourblocked PU Sneakers',
 'Women Open Toe Flats',
 'Women Sneakers',
 'Women Solid Leather Ballerinas',
 'Women Solid Leather Ballerinas',
 'Leather Heeled Knee High Boots',
 'Women Leather Heeled Boots',
 'Men Leather Formal Loafers',
 'Women Leather Heeled Boots',
 'Women Leather Knee High Boots',
 'Men Leather Driving Shoes',
 'Platform Peep Toes with Buckles',
 'Men Leather Formal Loafers',
 'Block Heeled Boots',
 'Leather Wedge Heeled Boots with Buckles',
 'Leather High-Top Block Heeled Boots',
 'Leather Kitten Heeled Boots',
 'Printed Flatform Heeled Boots with Buckles',
 'Ustraa black',
 'Leather Platform Heeled Boots',
 'Solid Slip On Shoes',
 'Leather Block Heeled Boots with Bows',
 'Men Solid Leather Formal Loafers',
 'Men Textured Leather Formal Loafers',
 'Suede Party High-Top Block Heeled Boots',
 'Leather High-Top Heeled Boots',
 'Men Solid Leather Formal Derbys',
 'Suede High-Top Flatform Heeled Boots',
 'Leather Boots with Buckles',
 'Embellished Leather Block Heeled Boots',
 'Women High-Top Heeled Boots',
 'Men Textured Formal Leather Loafers',
 'Leather Block Heeled Boots with Buckles',
 'Men Leather Loafers',
 'Embellished Flatform Boots',
 'Men Printed Loafers',
 'High-Top Block Heeled Boots',
 'Leather High-Top Block Heeled Boots',
 'Men Textured Leather Driving Shoes',
 'Men Leather Chelsea Boots',
 'Leather Block Heeled Boots with Tassels',
 'Men Suede Loafers',
 'Leather Block Heeled Boots',
 'Men Leather Sneakers',
 'Leather High-Top Platform Heeled Boots',
 'Leather Block Heels',
 'Women Leather Block Heels',
 'Leather Flatform Sandals',
 'Wedge Sandals',
 'Leather Party Block Mules',
 'Women Leather Loafers',
 'Women Textured Leather Sneakers',
 'Woven Design Block Heels',
 'Women Textured Slip-On Sneakers',
 'Men AMX IM 3 Basketball Shoes',
 'Women Leather Heeled Boots',
 'Textured PU Block Pumps',
 'Leather Above The Knee Boots',
 'Women Leather Derbys',
 'Women Solid Block Heels',
 'Women Colourblocked Leather Sneakers',
 'Women Leather Slip-On Sneakers',
 'Women Leather Sneakers',
 'Women Leather Slip-On Sneakers',
 'Women Open Toe Flats',
 'Women Leather Flat Boots',
 'Women Solid Sneakers',
 'Men Textured Leather Formal Derbys',
 'Leather Felicia Wedge Pumps',
 'Women Open Toe Flats',
 'Men Solid Leather Formal Loafers',
 'Men Solid Leather Formal Loafers',
 'Women Mary Natural Leather Black Narrow Width',
 'Women Leather Sneakers',
 'Men Solid Leather Formal Debys',
 'Women Soley Natural Leather Black Narrow Width',
 'Men Textured Leather Loafers',
 'Men Sneakers',
 'Men Running Shoes',
 'Unisex Ok Basketball MT',
 'Women Bryony Striped Sneakers',
 'Men Leather Loafers']

In [207]:
df=pd.DataFrame()
df['Index']=range(1,101)
df['Brand']=brand[:100]
df['Shoes Description']=desc[:100]
df['Price']=price[:100]
df.set_index("Index",inplace=True)
df

,Brand,Shoes Description,Price
Index,,,
1,Columbia,Men Printed Sneakers,Rs. 9099Rs. 12999
2,Columbia,Men Winflo 7 Running Shoes,(30% OFF)
3,Bugatti,Electrify Nitro Running Shoes,Rs. 7995
4,Churchill & Company,Men Cleated Leather Sneakers,Rs. 9999
5,Geox,Men Leather Driving Shoes,Rs. 8599
...,...,...,...
96,Bugatti,Suede High-Top Flatform Heeled Boots,(15% OFF)
97,ASICS,Leather Boots with Buckles,Rs. 12325Rs. 14500
98,Onitsuka Tiger,Embellished Leather Block Heeled Boots,(15% OFF)
99,ADIDAS Originals,Women High-Top Heeled Boots,Rs. 7490
100,ROSSO BRUNELLO,Men Textured Formal Leather Loafers,Rs. 14025Rs. 16500

Q8: Go to webpage https://www.amazon.in/
Enter “Laptop” in the search field and then click the search icon.
Then set CPU Type filter to “Intel Core i7” and “Intel Core i9” as shown:
After setting the filters scrape first 10 laptops data. You have to scrape 3 attributesfor each laptop:
1. Title
2. Ratings
3. Price

In [213]:
driver=webdriver.Edge('msedgedriver.exe')

In [214]:
url="https://www.amazon.in/"
driver.get(url)

In [215]:
search=driver.find_element_by_xpath('/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[2]/div[1]/input')
search

In [216]:
search.send_keys('Laptop')

In [217]:
search_btn=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[1]/div[2]/div/form/div[3]/div/span/input")

In [218]:
search_btn.click()

In [219]:
filter_i7type=driver.find_element_by_xpath("/html/body/div[1]/div[2]/div[1]/div[2]/div/div[3]/span/div[1]/div/div/div[6]/ul[4]/li[12]/span/a/div[1]/label/i")

In [220]:
filter_i7type.click()

In [221]:
title=driver.find_elements_by_xpath("//span[@class='a-size-medium a-color-base a-text-normal']")

In [222]:
# Laptop Title
titles=[]
for i in title[:10]:
    titles.append(i.text)
titles

['HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB SSD 14 inch(35.6cm) FHD,Micro-Edge,Anti-Glare,IPS Display/UHD Graphics/ Win 11/ MS Office/ Alexa Built-in/ 1.46kg/ Natural Silver - 14s-dy2506TU',
 'HP 15s- Ryzen 5- 8GB RAM/512GB SSD 15.6 inch(39.6cm) FHD,Micro-Edge, Anti-Glare Display (AMD Radeon Graphics/Alexa/Dual Speakers/Fast Charge/Win 11/MS Office), 15s-eq2144au, Natural Silver',
 'MSI Gaming Stealth GS66, Intel 12th Gen. i9-12900H, 15.6" QHD 240Hz Gaming Laptop (16GB*2/1TB NVMe SSD/Windows 11 Home/Nvidia RTX 3070Ti 8GB GDDR 6/ Black/2.1Kg), 12UGS-038IN',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 240Hz/3ms, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB/1TB SSD/Office 2019/Windows 10/Black/2.3 kg), FX506HM-AZ099TS',
 'ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) FHD 240Hz, Intel Core i9-11900H 11th Gen, GeForce RTX 3060 6GB Graphics, Gaming Laptop(16GB/1TB SSD/Office 2019/Windows 10/Gray/2.3 Kg), FX566HM-AZ096TS',
 'HP ZBOOK Power G8/ Intel core i9-11900H 8 Core/32GB DDR4 3200 RAM/1TB PCIe NVMe TLC SSD /15.6” FHD /Nvidia Quadro T1200 Dedicated Graphics 4GB DDR6 /Windows 10 Pro / 3 Year Warranty',
 'Redmi Book Pro Intel Core i5 11th Gen 15.6-inch(39.62 cms) Thin and Light Laptop (8GB/512 GB SSD/Windows 10 Home) (Charcoal Gray, 1.8 kg, with MS Office)',
 'MSI Modern 14, Intel i5-10210U, 14" FHD IPS-Level 60Hz Panel Laptop (8GB/512GB NVMe SSD/Windows 10 Home/Intel UHD Graphics/Carbon Grey/1.3Kg), B10MW-639IN',
 '(Renewed) HP Omen 15-dh0139TX Gaming Laptop (9th Gen i9-9880H/16GB/1TB HDD + 512GB SSD/Win 10/8GB NVIDIA RTX 2080 Graphics) & Z3700 Wireless Mouse',
 'ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 cms) FHD 144Hz, Intel Core i9-11900H 11th Gen, RTX 3060 6GB Graphics Gaming Laptop (16GB RAM/1TB SSD/Office 2019/Windows 10/Gray/2.3 kg), FX566HM-HN097TS']

In [223]:
# Laptop Price:
price=driver.find_elements_by_xpath("//span[@class='a-price-whole']")
prices=[]
for i in price[:10]:
    prices.append(i.text)
prices

['39,990',
 '47,790',
 '3,23,061',
 '1,43,990',
 '1,54,890',
 '2,33,500',
 '47,990',
 '48,490',
 '1,38,000',
 '1,45,990']

In [228]:
# Laptop Ratings:
rating=driver.find_elements_by_xpath("//span[@class='a-size-base s-underline-text']")
ratings=[]
for i in rating[:10]:
    ratings.append(i.text)
ratings

['886', '139', '886', '21', '85', '2', '37', '139', '75', '2']

In [229]:
df=pd.DataFrame()
df['Title']=titles[:10]
df['Price']=prices[:10]
df['Ratings']=ratings[:10]
df

                                               Title     Price Ratings
0  HP 14s 11th Gen Intel Core i3- 8GB RAM/256GB S...    39,990     886
1  HP 15s- Ryzen 5- 8GB RAM/512GB SSD 15.6 inch(3...    47,790     139
2  MSI Gaming Stealth GS66, Intel 12th Gen. i9-12...  3,23,061     886
3  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,43,990      21
4  ASUS TUF Gaming F15 (2021), 15.6" (39.62 cms) ...  1,54,890      85
5  HP ZBOOK Power G8/ Intel core i9-11900H 8 Core...  2,33,500       2
6  Redmi Book Pro Intel Core i5 11th Gen 15.6-inc...    47,990      37
7  MSI Modern 14, Intel i5-10210U, 14" FHD IPS-Le...    48,490     139
8  (Renewed) HP Omen 15-dh0139TX Gaming Laptop (9...  1,38,000      75
9  ASUS TUF Gaming F15 (2021), 15.6-inch (39.62 c...  1,45,990       2

Q9: Write a python program to scrape data for first 10 job results for Data Scientist Designation in Noida location. You have to scrape company name, No. of days ago when job was posted, Rating of the company. This task will be done in following steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the Job option as shown in the image
3. After reaching to the next webpage, In place of “Search by Designations, Companies, Skills” enter “Data Scientist” and click on search button.
ASSIGNMENT 2
4. You will reach to the following web page click on location and in place of “Search location” enter “Noida” and select location “Noida”.
5. Then scrape the data for the first 10 jobs results you get on the above shown page.
6. Finally create a dataframe of the scraped data.

In [231]:
driver=webdriver.Edge('msedgedriver.exe')

In [232]:
url="https://www.ambitionbox.com/"
driver.get(url)

In [233]:
search=driver.find_element_by_xpath("/html/body/section[1]/div/div[2]/form/span/input")
search

In [234]:
search.send_keys("Data Scientist")

In [235]:
search_btn=driver.find_element_by_xpath("/html/body/section[1]/div/div[2]/form/div[2]/input")
search_btn

In [236]:
search_btn.click()

In [240]:
location=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[1]")
location

In [241]:
sear_loc=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[2]/input")
sear_loc

In [242]:
sear_loc.send_keys('Noida')

In [243]:
loca=driver.find_element_by_xpath("/html/body/div/div/div/div[2]/div[2]/div[1]/div/div/div/div[2]/div[2]/div/div[3]/div[1]/div[1]/div/label").click()

In [244]:
# Company Name:
company_name=driver.find_elements_by_xpath("//div[@class='company-info']/p")
name=[]
for i in company_name:
    name.append(i.text)
name

[' · ',
 'NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED',
 'HCL Technologies Limited',
 'Optum Global Solutions (India) Private Limited',
 'WSP CONSULTANTS INDIA PRIVATE LIMITED',
 'Microsoft India (R and D) Pvt Ltd',
 'HCL Technologies Ltd',
 'Jubilant Foodworks Limited',
 'HCL Technologies',
 'Hanu Software Solutions Pvt Ltd',
 'Tavant Technologies India Pvt. Ltd.']

In [245]:
name.pop(0)

' · '

In [246]:
# Job Posted since:
posted=driver.find_elements_by_xpath("//div[@class='other-info']/span")
job_posted=[]
for i in posted:
    job_posted.append(i.text.replace('.'," ").replace('via naukri com',""))

In [247]:
posted=job_posted[0:30:3]
posted

['5d ago',
 '6d ago',
 '16d ago',
 '6d ago',
 '17d ago',
 '14d ago',
 '4d ago',
 '21d ago',
 '6d ago',
 '1mon ago']

In [248]:
#Ratings:
ratings=driver.find_elements_by_xpath("//span[@class='body-small']")
rating=[]
for i in ratings:
    rating.append(i.text)
rating

['3.9', '3.8', '4.1', '4.2', '4.2', '3.8', '3.9', '3.8', '3.7', '4.0']

In [249]:
df=pd.DataFrame()
df['Company Name']=name
df['Job posted']=posted[:10]
df['Ratings']=rating
df

                                        Company Name Job posted Ratings
0  NTT DATA GLOBAL DELIVERY SERVICES PRIVATE LIMITED     5d ago     3.9
1                           HCL Technologies Limited     6d ago     3.8
2     Optum Global Solutions (India) Private Limited    16d ago     4.1
3              WSP CONSULTANTS INDIA PRIVATE LIMITED     6d ago     4.2
4                  Microsoft India (R and D) Pvt Ltd    17d ago     4.2
5                               HCL Technologies Ltd    14d ago     3.8
6                         Jubilant Foodworks Limited     4d ago     3.9
7                                   HCL Technologies    21d ago     3.8
8                    Hanu Software Solutions Pvt Ltd     6d ago     3.7
9                Tavant Technologies India Pvt. Ltd.   1mon ago     4.0

Q10: Write a python program to scrape the salary data for Data Scientist designation.
You have to scrape Company name, Number of salaries, Average salary, Minsalary, Max Salary. The above task will be, done as shown in the below steps:
1. First get the webpage https://www.ambitionbox.com/
2. Click on the salaries option as shown in the image
3. After reaching to the following webpage, In place of “Search Job Profile” enters “Data Scientist” and then click on “Data Scientist”.
You have to scrape the data ticked in the above image.
4. Scrape the data for the first 10 companies. Scrape the company name, total salary record, average salary, minimum salary, maximum salary, experience required.
5. Store the data in a dataframe.

In [250]:
driver=webdriver.Edge('msedgedriver.exe')

In [254]:
url="https://www.ambitionbox.com/"
driver.get(url)

In [261]:
search_job=driver.find_element_by_xpath("/html/body/div/div/div/main/section[1]/div[2]/div[1]/span/input")

In [262]:
search_job.send_keys('Data Scientist')

##### Company Name

In [263]:
company_name=driver.find_elements_by_xpath("//div[@class='name']/a")
name=[]
for i in company_name:
    name.append(i.text)
name

['Ab Inbev',
 'ZS',
 'Optum',
 'Fractal Analytics',
 'Tiger Analytics',
 'UnitedHealth',
 'Verizon',
 'Ganit Business Solutions',
 'Ericsson',
 'Deloitte']

In [264]:
# Total salary record
total=driver.find_elements_by_xpath("//div[@class='name']/span")
total_sal=[]
for i in total:
    total_sal.append(i.text.replace('based on', " "))
total_sal

['  28 salaries',
 '  15 salaries',
 '  25 salaries',
 '  77 salaries',
 '  33 salaries',
 '  52 salaries',
 '  14 salaries',
 '  13 salaries',
 '  43 salaries',
 '  57 salaries']

In [265]:
# Experience required
exp=driver.find_elements_by_xpath("//div[@class='salaries sbold-list-header']")
experience=[]
for i in exp:
    experience.append(i.text.replace('\n', " ").replace('.'," ").replace('Data Scientist', " ").replace('     '," "))
experience

['  3-4 yrs exp',
 '  2 yrs exp',
 '  3-4 yrs exp',
 '  2-4 yrs exp',
 '  3-4 yrs exp',
 '  2-4 yrs exp',
 '  4 yrs exp',
 '  4 yrs exp',
 '  3-4 yrs exp',
 '  2-4 yrs exp']

In [266]:
# Average salary
avg_salary=driver.find_elements_by_xpath('//p[@class="averageCtc"]')
salary=[]
for i in avg_salary:
    salary.append(i.text)
salary

['₹ 20.3L',
 '₹ 15.3L',
 '₹ 15.1L',
 '₹ 15.1L',
 '₹ 14.4L',
 '₹ 13.9L',
 '₹ 12.7L',
 '₹ 12.4L',
 '₹ 11.9L',
 '₹ 11.7L']

In [267]:
# Minimum-Maximum salary
min_max=driver.find_elements_by_xpath("//div[@class='salary-values']")
min_max_sal=[]
for i in min_max:
    min_max_sal.append(i.text.replace('\n',"--"))
min_max_sal

['₹ 15.0L--₹ 25.5L',
 '₹ 9.5L--₹ 20.0L',
 '₹ 11.0L--₹ 21.3L',
 '₹ 9.5L--₹ 22.0L',
 '₹ 8.3L--₹ 20.0L',
 '₹ 8.3L--₹ 20.5L',
 '₹ 10.0L--₹ 21.0L',
 '₹ 8.5L--₹ 15.0L',
 '₹ 5.8L--₹ 24.0L',
 '₹ 6.9L--₹ 23.4L']

In [268]:
df=pd.DataFrame()
df['Index']=range(1,11)
df['Company Name']=name
df['Total salary Record']=total_sal
df['Average Salary']=salary
df['Minimum-Maximum Salary']=min_max_sal[:10]
df['Experience Required']=experience
df.set_index('Index',inplace=True)
df

,Company Name,Total salary Record,Average Salary,Minimum-Maximum Salary,Experience Required
Index,,,,,
1,Ab Inbev,28 salaries,₹ 20.3L,₹ 15.0L--₹ 25.5L,3-4 yrs exp
2,ZS,15 salaries,₹ 15.3L,₹ 9.5L--₹ 20.0L,2 yrs exp
3,Optum,25 salaries,₹ 15.1L,₹ 11.0L--₹ 21.3L,3-4 yrs exp
4,Fractal Analytics,77 salaries,₹ 15.1L,₹ 9.5L--₹ 22.0L,2-4 yrs exp
5,Tiger Analytics,33 salaries,₹ 14.4L,₹ 8.3L--₹ 20.0L,3-4 yrs exp
6,UnitedHealth,52 salaries,₹ 13.9L,₹ 8.3L--₹ 20.5L,2-4 yrs exp
7,Verizon,14 salaries,₹ 12.7L,₹ 10.0L--₹ 21.0L,4 yrs exp
8,Ganit Business Solutions,13 salaries,₹ 12.4L,₹ 8.5L--₹ 15.0L,4 yrs exp
9,Ericsson,43 salaries,₹ 11.9L,₹ 5.8L--₹ 24.0L,3-4 yrs exp
10,Deloitte,57 salaries,₹ 11.7L,₹ 6.9L--₹ 23.4L,2-4 yrs exp