# Web Scraping - Assignment 4

# 1) Scrape the details of most viewed videos on YouTube from Wikipedia.
### Url = https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos
You need to find following details:
A) Rank
B) Name
C) Artist
D) Upload date
E) Views

In [1]:
# Importing Necessary Libraries

import pandas as pd
import selenium
import time
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.common.exceptions import StaleElementReferenceException
from selenium.common.exceptions import NoSuchElementException
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.common.by import By
import warnings
warnings.filterwarnings('ignore')

In [2]:
driver=webdriver.Edge('msedgedriver.exe')

In [3]:
url='https://en.wikipedia.org/wiki/List_of_most-viewed_YouTube_videos'
driver.get(url)

In [4]:
Rank=[]
Name=[]
Artist=[]
Upload_date=[]
Views=[]

# Scraping rank data:
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[1]")[:30]:
        Rank.append(i.text)
except:
    NoSuchElementException
    Rank.append('--')
    
# Scraping Name data :
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[2]")[:30]:
        Name.append(i.text)
except:
    NoSuchElementException
    Rank.append('--')
    
# Scraping Artist data:
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[3]")[:30]:
        Artist.append(i.text)
except:
    NoSuchElementException
    Artist.append('--')
    
# Scraping Upload_date
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[5]")[:30]:
        Upload_date.append(i.text)
except:
    NoSuchElementException
    Upload_date.append('--')
    
    
# Scraping Views data:
try:
    for i in driver.find_elements_by_xpath("//table[@class='wikitable sortable jquery-tablesorter']//tbody//tr//td[4]")[:30]:
        Views.append(i.text)
except:
    NoSuchElementException
    Views.append('--')

In [5]:
df_youtube=pd.DataFrame()
df_youtube['Rank']=Rank
df_youtube['Name']=Name
df_youtube['Artist']=Artist
df_youtube['Upload_date']=Upload_date
df_youtube['Views']=Views
df_youtube

,Rank,Name,Artist,Upload_date,Views
0,1.,"""Baby Shark Dance""[3]",Pinkfong Baby Shark - Kids' Songs & Stories,"June 17, 2016",10.53
1,2.,"""Despacito""[6]",Luis Fonsi,"January 12, 2017",7.82
2,3.,"""Johny Johny Yes Papa""[12]",LooLoo Kids,"October 8, 2016",6.31
3,4.,"""Shape of You""[13]",Ed Sheeran,"January 30, 2017",5.69
4,5.,"""See You Again""[15]",Wiz Khalifa,"April 6, 2015",5.48
5,6.,"""Bath Song""[20]",Cocomelon – Nursery Rhymes,"May 2, 2018",5.27
6,7.,"""Phonics Song with Two Words""[21]",ChuChu TV,"March 6, 2014",4.58
7,8.,"""Learning Colors – Colorful Eggs on a Farm""[22]",Miroshka TV,"February 27, 2018",4.56
8,9.,"""Uptown Funk""[23]",Mark Ronson,"November 19, 2014",4.54
9,10.,"""Masha and the Bear – Recipe for Disaster""[24]",Get Movies,"January 31, 2012",4.49
10,11.,"""Gangnam Style""[25]",Psy,"July 15, 2012",4.40
11,12.,"""Wheels on the Bus""[30]",Cocomelon – Nursery Rhymes,"May 24, 2018",3.96
12,13.,"""Dame Tu Cosita""[31]",El Chombo,"April 5, 2018",3.92
13,14.,"""Sugar""[32]",Maroon 5,"January 14, 2015",3.68
14,15.,"""Roar""[33]",Katy Perry,"September 5, 2013",3.56
15,16.,"""Counting Stars""[34]",OneRepublic,"May 31, 2013",3.56
16,17.,"""Sorry""[35]",Justin Bieber,"October 22, 2015",3.54
17,18.,"""Thinking Out Loud""[36]",Ed Sheeran,"October 7, 2014",3.44
18,19.,"""Axel F""[37]",Crazy Frog,"June 16, 2009",3.32
19,20.,"""Girls Like You""[38]",Maroon 5,"May 31, 2018",3.28
20,21.,"""Faded""[39]",Alan Walker,"December 3, 2015",3.27
21,22.,"""Dark Horse""[40]",Katy Perry,"February 20, 2014",3.26
22,23.,"""Let Her Go""[41]",Passenger,"July 25, 2012",3.21
23,24.,"""Baa Baa Black Sheep""[42]",Cocomelon – Nursery Rhymes,"June 25, 2018",3.21
24,25.,"""Bailando""[43]",Enrique Iglesias,"April 11, 2014",3.19
25,26.,"""Lean On""[44]",Major Lazer,"March 22, 2015",3.19
26,27.,"""Shake It Off""[45]",Taylor Swift,"August 18, 2014",3.16
27,28.,"""Perfect""[46]",Ed Sheeran,"November 9, 2017",3.14
28,29.,"""Waka Waka (This Time for Africa)""[47]",Shakira,"June 4, 2010",3.12
29,30.,"""Mi Gente""[48]",J Balvin,"June 29, 2017",3.07

In [88]:
df_youtube.to_csv('top_views_youtube.csv')

# 2 ) Scrape the details team India’s international fixtures from bcci.tv. Url = https://www.bcci.tv/.
You need to find following details:
A) Match title (I.e. 1st ODI)
B) Series
C) Place
D) Date
E) Time

In [7]:
driver=webdriver.Edge('msedgedriver.exe')

In [8]:
url='https://www.bcci.tv/'
driver.get(url)

In [9]:
inter_fixture=driver.find_element_by_xpath('/html/body/nav/div/div[2]/ul[1]/li[2]/a')

In [10]:
inter_fixture.click()

In [11]:
match_title=[]
series=[]
place=[]
date=[]
time=[]

# Scraping Match title
try:
    for i in driver.find_elements_by_xpath("//span[@class='matchOrderText ng-binding ng-scope']"):
        match_title.append(i.text)
except:
    NoSuchElementException
    match_title.append('--')
    
# Scraping Date
try:
    for i in driver.find_elements_by_xpath("//h5[@class='ng-binding']"):
        date.append(i.text)
except:
    NoSuchElementException
    date.append('--')
    
# Scraping Time
try:
    for i in driver.find_elements_by_xpath("//h5[@class='text-right ng-binding']"):
        time.append(i.text)
except:
    NoSuchElementException
    time.append('--')
    
# Scraping Place
try:
    for i in driver.find_elements_by_xpath("//span[@class='ng-binding ng-scope']"):
        place.append(i.text)
except:
    NoSuchElementException
    place.append(i.text)
    
#Scraping Series
try:
    for i in driver.find_elements_by_xpath("//span[@class='ng-binding']"):
        series.append(i.text)
except:
    NoSuchElementException
    series.append('--')

In [12]:
df_bcci=pd.DataFrame()
df_bcci['Match Title']=match_title
df_bcci['Series']=series
df_bcci['Place']=place
df_bcci['Date']=date
df_bcci['Time']=time
df_bcci

,Match Title,Series,Place,Date,Time
0,1st T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Arun Jaitley Stadium,",9 JUN 2022,7:30 PM IST
1,2nd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Barabati Stadium,",12 JUN 2022,7:30 PM IST
2,3rd T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Dr YS Rajasekhara Reddy ACA-VDCA Cricket Stadium,",14 JUN 2022,7:30 PM IST
3,4th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"Saurashtra Cricket Association Stadium,",17 JUN 2022,7:30 PM IST
4,5th T20I -,SOUTH AFRICA TOUR OF INDIA T20 SERIES 2022,"M Chinnaswamy Stadium,",19 JUN 2022,7:30 PM IST

# 3 ) Scrape the details of selenium exception from guru99.com. Url = https://www.guru99.com/
You need to find following details:
A) Name
B) Description

In [13]:
driver=webdriver.Edge('msedgedriver.exe')

In [14]:
url='https://www.guru99.com/'
driver.get(url)

In [16]:
# Getting to the serch bar to search for Exception Hanling
search_box=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[1]/div/table/tbody/tr/td[1]/input')

In [17]:
search_box.send_keys('selenium exception handling')

In [18]:
search_btn=driver.find_element_by_xpath('/html/body/div[1]/div/div/div/main/div/article/div/div[1]/div[1]/div[2]/div/div[1]/div/div/div/form/table/tbody/tr/td[2]/button')

In [19]:
search_btn.click()

In [20]:
urls= driver.find_element_by_xpath("//div[@class='gsc-expansionArea']//div//a")
page_url = urls.get_attribute("href")

driver.get(page_url)

In [21]:
Name=[]
Description=[]

# Scraping th Exception Name
try:
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[1]")[1:]:
        Name.append(i.text)
except:
    NoSuchElementException
    Name.append('--')
    
# Scraping the Exception Description
try:
    for i in driver.find_elements_by_xpath("//table[@class='table table-striped']//tr//td[2]")[1:]:
        Description.append(i.text)
except:
    NoSuchElementException
    Description.append('--')

In [22]:
df_guru=pd.DataFrame()
df_guru['Name']=Name
df_guru['Description']=Description
df_guru

,Name,Description
0,ElementNotSelectableException,This Selenium exception occurs when an element...
1,NoSuchElementException,This Exception occurs if an element could not ...
2,NoSuchFrameException,This Exception occurs if the frame target to b...
3,NoAlertPresentException,This Exception occurs when you switch to no pr...
4,NoSuchWindowException,This Exception occurs if the window target to ...
5,StaleElementReferenceException,This Selenium exception occurs happens when th...
6,SessionNotFoundException,The WebDriver is acting after you quit the bro...
7,TimeoutException,Thrown when there is not enough time for a com...
8,WebDriverException,This Exception takes place when the WebDriver ...
9,ConnectionClosedException,This type of Exception takes place when there ...
10,ElementClickInterceptedException,The command may not be completed as the elemen...
11,ElementNotInteractableException,This Selenium exception is thrown when any ele...
12,ErrorInResponseException,This happens while interacting with the Firefo...
13,ErrorHandler.UnknownServerException,Exception is used as a placeholder in case if ...
14,ImeActivationFailedException,This expectation will occur when IME engine ac...
15,ImeNotAvailableException,It takes place when IME support is unavailable.
16,InsecureCertificateException,Navigation made the user agent to hit a certif...
17,InvalidArgumentException,It occurs when an argument does not belong to ...
18,InvalidCookieDomainException,This happens when you try to add a cookie unde...
19,InvalidCoordinatesException,This type of Exception matches an interacting ...
20,InvalidElementStateExceptio,It occurs when command can’t be finished when ...
21,InvalidSessionIdException,This Exception took place when the given sessi...
22,InvalidSwitchToTargetException,This occurs when the frame or window target to...
23,JavascriptException,This issue occurs while executing JavaScript g...
24,JsonException,It occurs when you afford to get the session w...
25,NoSuchAttributeException,This kind of Exception occurs when the attribu...
26,MoveTargetOutOfBoundsException,It takes place if the target provided to the A...
27,NoSuchContextException,ContextAware does mobile device testing.
28,NoSuchCookieException,This Exception occurs when no cookie matching ...
29,NotFoundException,This Exception is a subclass of WebDriverExcep...
30,RemoteDriverServerException,This Selenium exception is thrown when the ser...
31,ScreenshotException,It is not possible to capture a screen.
32,SessionNotCreatedException,It happens when a new session could not be suc...
33,UnableToSetCookieException,This occurs if a driver is unable to set a coo...
34,UnexpectedTagNameException,Happens if a support class did not get a web e...
35,UnhandledAlertException,This expectation occurs when there is an alert...
36,UnexpectedAlertPresentException,It occurs when there is the appearance of an u...
37,UnknownMethodException,This Exception happens when the requested comm...
38,UnreachableBrowserException,This Exception occurs only when the browser is...
39,UnsupportedCommandException,This occurs when remote WebDriver does n’t sen...

In [89]:
df_guru.to_csv('selenium_exception.csv')

# 4) Scrape the details of State-wise GDP of India from statisticstime.com. Url = http://statisticstimes.com/
You have to find following details:
A) Rank
B) State
C) GSDP(19-20)
D) GSDP(18-19)
E) Share(2017)
F) GDP($ billion)

In [23]:
driver=webdriver.Edge('msedgedriver.exe')

In [24]:
# Getting the URL
url='http://statisticstimes.com/'
driver.get(url)

In [25]:
economy = driver.find_element_by_xpath("//div[@class='navbar']//div[2]//button").click()

In [26]:
# Getting to the Economy Page
economy_url=driver.find_element_by_xpath("//div[@class='dropdown-content']//a[3]")
page=economy_url.get_attribute("href")
driver.get(page)

In [27]:
#Getting into the GDB India Page
gdp_india=driver.find_element_by_xpath("//ul[@style='list-style-type:none;margin-left:20px;']/li/a")
gdp_url=gdp_india.get_attribute('href')
driver.get(gdp_url)

In [28]:
rank=[]
state=[]
GSDP1=[]
GSDP2=[]
share=[]
billions=[]

#Scraping the Rank:
try:
    for i in driver.find_elements_by_xpath("//table[@class='display dataTable']//tbody//tr//td[1]"):
        rank.append(i.text)
except:
    NoSuchElementException
    rank.append('--')
    
# Scraping the States"
try:
    for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[2]"):
        state.append(i.text)
except:
    NoSuchElementException
    state.append('--')
    
# Scraping GSDP(19-20):
try:
    for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[3]"):
        GSDP1.append(i.text)
except:
    NoSuchElementException
    GSDP1.append('--')
    
# Scraping GSDP(18-19):
try:
    for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[4]"):
        GSDP2.append(i.text)
except:
    NoSuchElementException
    GSDP2.append('--')
    
#Scraping Share
try:
    for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[5]"):
        share.append(i.text)
except:
    NoSuchElementException
    share.append('--')
    
#Scraping GDP($Billion)
try:
    for i in driver.find_elements_by_xpath("//div[@id='table_id_wrapper']//tbody//tr//td[6]"):
        billions.append(i.text)
except:
    NoSuchElementException
    billions.append('--')

In [29]:
df_gdb=pd.DataFrame()
df_gdb['Rank']=rank[:33]
df_gdb['State']=state[:33]
df_gdb['GSDP(19-20)']=GSDP1[:33]
df_gdb['GSDP(18-19)']=GSDP2[:33]
df_gdb['Share']=share[:33]
df_gdb['GDP($Billion)']=billions[:33]
df_gdb

,Rank,State,GSDP(19-20),GSDP(18-19),Share,GDP($Billion)
0,1,Maharashtra,-,"2,632,792",13.94%,399.921
1,2,Tamil Nadu,"1,845,853","1,630,208",8.63%,247.629
2,3,Uttar Pradesh,"1,687,818","1,584,764",8.39%,240.726
3,4,Gujarat,-,"1,502,899",7.96%,228.290
4,5,Karnataka,"1,631,977","1,493,127",7.91%,226.806
5,6,West Bengal,"1,253,832","1,089,898",5.77%,165.556
6,7,Rajasthan,"1,020,989","942,586",4.99%,143.179
7,8,Andhra Pradesh,"972,782","862,957",4.57%,131.083
8,9,Telangana,"969,604","861,031",4.56%,130.791
9,10,Madhya Pradesh,"906,672","809,592",4.29%,122.977
10,11,Kerala,-,"781,653",4.14%,118.733
11,12,Delhi,"856,112","774,870",4.10%,117.703
12,13,Haryana,"831,610","734,163",3.89%,111.519
13,14,Bihar,"611,804","530,363",2.81%,80.562
14,15,Punjab,"574,760","526,376",2.79%,79.957
15,16,Odisha,"521,275","487,805",2.58%,74.098
16,17,Assam,-,"315,881",1.67%,47.982
17,18,Chhattisgarh,"329,180","304,063",1.61%,46.187
18,19,Jharkhand,"328,598","297,204",1.57%,45.145
19,20,Uttarakhand,-,"245,895",1.30%,37.351
20,21,Jammu & Kashmir,-,"155,956",0.83%,23.690
21,22,Himachal Pradesh,"165,472","153,845",0.81%,23.369
22,23,Goa,"80,449","73,170",0.39%,11.115
23,24,Tripura,"55,984","49,845",0.26%,7.571
24,25,Chandigarh,-,"42,114",0.22%,6.397
25,26,Puducherry,"38,253","34,433",0.18%,5.230
26,27,Meghalaya,"36,572","33,481",0.18%,5.086
27,28,Sikkim,"32,496","28,723",0.15%,4.363
28,29,Manipur,"31,790","27,870",0.15%,4.233
29,30,Nagaland,-,"27,283",0.14%,4.144
30,31,Arunachal Pradesh,-,"24,603",0.13%,3.737
31,32,Mizoram,"26,503","22,287",0.12%,3.385
32,33,Andaman & Nicobar Islands,-,-,-,-

In [90]:
df_guru.to_csv('GDP.csv')

# 5) Scrape the details of trending repositories on Github.com. Url = https://github.com/
You have to find the following details:
A) Repository title
B) Repository description
C) Contributors count

In [30]:
driver=webdriver.Edge('msedgedriver.exe')

In [31]:
url='https://github.com/'
driver.get(url)

In [32]:
explore=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/summary")

In [33]:
explore.click()

In [34]:
trending=driver.find_element_by_xpath("/html/body/div[1]/header/div/div[2]/nav/ul/li[4]/details/div/ul/li[5]/a")

In [35]:
trending.click()

In [36]:
repository_title=[]
repository_description=[]
contributors_count=[]


# Scraping the Repository Title
for i in driver.find_elements_by_xpath("//h1[@class='h3 lh-condensed']//a"):
    repository_title.append(i.text)
    
# Scraping the Repository Description
for i in driver.find_elements_by_xpath("//p[@class='col-9 color-fg-muted my-1 pr-4']"):
    repository_description.append(i.text)
    
# Scraping the Contributor's counts
try:
    for i in driver.find_elements_by_xpath("//span[@class='d-inline-block float-sm-right']"):
        contributors_count.append(i.text.replace('stars today',' '))
except NoSuchElementException:
    contributors_count.append('-')

In [38]:
df_github=pd.DataFrame()
df_github['Repository Title']=repository_title[:24]
df_github['Repository Description']=repository_description[:24]
df_github['Contributors Count']=contributors_count[:24]
df_github

,Repository Title,Repository Description,Contributors Count
0,PowerShell / PowerShell,PowerShell for every system!,155
1,ruanyf / weekly,科技爱好者周刊，每周五发布,43
2,angular / angular,The modern web developer’s platform,103
3,mastodon / mastodon,"Your self-hosted, globally interconnected micr...",183
4,spacedriveapp / spacedrive,Spacedrive is an open source cross-platform fi...,"1,009"
5,ml-tooling / best-of-ml-python,🏆 A ranked list of awesome machine learning Py...,773
6,jsonhero-io / jsonhero-web,"JSON Hero is an open-source, beautiful JSON ex...",195
7,gradio-app / gradio,Create UIs for your machine learning model in ...,96
8,appsmithorg / appsmith,"Low code project to build admin panels, intern...",116
9,google / wireit,Wireit upgrades your npm scripts to make them ...,295
10,naver / fe-news,FE 기술 소식 큐레이션 뉴스레터,32
11,Trainguy9512 / trainguys-animation-overhaul,润学全球官方指定GITHUB，整理润学宗旨、纲领、理论和各类润之实例；解决为什么润，润去哪里...,11
12,The-Run-Philosophy-Organization / run,A multi-voice TTS system trained with an empha...,496
13,neonbjb / tortoise-tts,RF transmitter for Raspberry Pi,112
14,F5OEO / rpitx,Constraint-based geometry sketcher for blender,27
15,hlorus / CAD_Sketcher,模拟手写效果，节约时间。,119
16,why20021008 / hand-write,HFS is a file server offering a virtual file s...,82
17,rejetto / hfs,Complete container management platform,49
18,rancher / rancher,A complete computer science study plan to beco...,54
19,jwasham / coding-interview-university,A drop-in javascript spreadsheet library that ...,131
20,ruilisi / fortune-sheet,RedisInsight,80
21,RedisInsight / RedisInsight,Terraform module to create an Elastic Kubernet...,59
22,terraform-aws-modules / terraform-aws-eks,A list of FREE resources to make Web3 accessib...,9
23,FrancescoXX / free-Web3-resources,KrbRelayUp - a universal no-fix local privileg...,212

# 6) Scrape the details of top 100 songs on billiboard.com. Url = https:/www.billboard.com/
You have to find the following details:
A) Song name
B) Artist name
C) Last week rank
D) Peak rank
E) Weeks on board

In [39]:
driver=webdriver.Edge('msedgedriver.exe')

In [40]:
url='https:/www.billboard.com/'
driver.get(url)

In [41]:
chart=driver.find_element_by_xpath('/html/body/div[3]/div[6]/div/div/div/ul/li[1]/h3/a').click

In [43]:
hot_100=driver.find_element_by_xpath("/html/body/div[3]/main/div[2]/div[1]/div[1]/div/div/div[1]/div[1]/div[2]/span/a")

In [44]:
hot_100.click()

In [45]:
song_name=[]
artist_name=[]
last_week_rank=[]
peak_rank=[]
week_board=[]

#Scraping the Song Name:
try:
    for i in driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']//li//h3"):
        song_name.append(i.text)
except:
    NoSuchElementException
    song_name.append('--')
    
#Scraping the Artist Name:
try:
    for i in driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']//h3//span"):
        artist_name.append(i.text)
except:
    NoSuchElementException
    artist_name.append('--')
    
# Scraping Last week rank
try:
    for i in driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']//span")[:100]:
        last_week_rank.append(i.text)
except:
    NoSuchElementException
    last_week_rank.append('--')
    
#Scraping Peak Rank
try:
    for i in driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-bg-color a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-background-color-grey-lightest lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-hidden@mobile-max']//span")[:100]:
        peak_rank.append(i.text)
except:
    NoSuchElementException
    peak_rank.append('--')
    
#Scraping Weeks on Board
try:
    for i in driver.find_elements_by_xpath("//li[@class='o-chart-results-list__item // a-chart-color u-width-72 u-width-55@mobile-max u-width-55@tablet-only lrv-u-flex lrv-u-flex-shrink-0 lrv-u-align-items-center lrv-u-justify-content-center lrv-u-border-b-1 u-border-b-0@mobile-max lrv-u-border-color-grey-light u-background-color-white-064@mobile-max u-hidden@mobile-max']//span")[:100]:
        week_board.append(i.text)
except:
    NoSuchElementException
    week_board.append('--')

In [52]:
artist_names=[]
try:
    for i in driver.find_elements_by_xpath("//ul[@class='lrv-a-unstyle-list lrv-u-flex lrv-u-height-100p lrv-u-flex-direction-column@mobile-max']//span"):
        artist_names.append(i.text)
except:
    NoSuchElementException
    artist_names.append('--')

In [56]:
df_billboard=pd.DataFrame()
df_billboard['Song Name']=song_name
df_billboard['Artist Name']=artist_names[:1600:7]
df_billboard['Lask Week Rank']=last_week_rank
df_billboard['Peak Rank']=peak_rank
df_billboard['Week on Board']=week_board
df_billboard

,Song Name,Artist Name,Lask Week Rank,Peak Rank,Week on Board
0,As It Was,Harry Styles,2,1,2
1,First Class,Jack Harlow,3,1,3
2,Heat Waves,Glass Animals,1,1,1
3,Big Energy,Latto,2,3,2
4,Enemy,Imagine Dragons X JID,3,5,3
...,...,...,...,...,...
95,P Power,Gunna Featuring Drake,3,24,3
96,Money So Big,Yeat,47,95,47
97,Blick Blick!,Coi Leray & Nicki Minaj,37,37,37
98,Fall In Love,Bailey Zimmerman,-,99,-
99,X Ultima Vez,Daddy Yankee & Bad Bunny,1,73,1

In [91]:
df_billboard.to_csv('top_100_songs.csv')

# 7. Scrape the details of Data science recruiters from naukri.com. Url = https://www.naukri.com/
You have to find the following details:
A) Name
B) Designation
C) Company
D) Skills they hire for
E) Location
Note: - From naukri.

In [57]:
driver=webdriver.Edge('msedgedriver.exe')

In [58]:
url='https://www.naukri.com/'
driver.get(url)

In [59]:
job=driver.find_element_by_xpath("/html/body/div/div[2]/div[1]/div/ul/li[1]/a/div").click()

In [ ]:
rec=driver.find_element_by_xpath("//a[@title='Search Recruiters']")
page=rec.get_attribute("href")
driver.get(page)

In [65]:
import requests

In [66]:
page=requests.get("https://www.naukri.com/data-science-recruiters")
page

In [67]:
soup=BeautifulSoup(page.content,"html.parser")

In [68]:
scraped_name=soup.find_all('span',class_="fl ellipsis")

In [69]:
# Scraping  Name
names=[]
for i in scraped_name:
    name=i.get_text()
    name=names.append(i.text)

#Scraping Designation
designation=[]
for i in soup.find_all('span',class_='ellipsis clr'):
    desig=i.get_text()
    desig=designation.append(i.text)

#Scraping Company
company=[]
for i in soup.find_all('a',class_='ellipsis'):
    com=i.get_text()
    com=company.append(i.text)
    
#Scraping skill they hire
skill=[]
for i in soup.find_all('div',class_="hireSec highlightable"):
    skil=i.get_text().replace('  ','')
    skil=skill.append(i.text)

# Scraping Location
location=[]
for i in soup.find_all('small',class_="ellipsis"):
    loc=i.get_text()
    loc=location.append(i.text)

In [70]:
df_naukri=pd.DataFrame()
df_naukri['Name']=names[:40]
df_naukri['Designation']=designation[:40]
df_naukri['Company']=company[1:80:2]
df_naukri['Skills']=skill[:40]
df_naukri['Location']=location[:40]
df_naukri

,Name,Designation,Company,Skills,Location
0,Aakash Harit,HR Manager,Data Science Network,"Classic ASP Developer, Internet Marketin...",Delhi
1,shravan Kumar Gaddam,Company Recruiter,Shore Infotech India Pvt. Ltd,".Net, Java, Data Science, Linux Admi...",Hyderabad / Secunderabad
2,MARSIAN Technologies LLP,Company HR,MARSIAN Technologies LLP,"Data Science, Artificial Intelligence, ...",Pune
3,Anik Agrawal,Company Recruiter,Enerlytics Software Solutions Pvt Ltd,"Mean Stack, javascript, angularjs, m...",Ahmedabad
4,subhas patel,Founder CEO,LibraryXProject,"Hadoop, Spark, Digital Strategy, Dat...",UK - (london)
5,Abhishek - Only Analytics Hiring - India and,Recruitment Lead Consultant,Apidel Technologies Division of Transpower,"Analytics, Business Intelligence, Busi...",Vadodara / Baroda
6,Institute for Financial Management and Resear,Programme Manager,IFMR,Data Science,Chennai
7,Balu Ramesh,HR Administrator,Techvantage Systems Pvt Ltd,"Machine Learning, algorithms, Go Gette...",Trivandrum
8,Asif Lucknowi,Director,Weupskill- Live Wire India,"Technical Training, Software Development...",Indore
9,InstaFinancials,Human Resource,CBL Data Science Private Limited,"Software Development, It Sales, Accoun...",Bengaluru / Bangalore
10,Priyanka Akiri,HR Manager,Infinitive Software Solutions,"Oracle Dba, Data Science, Data Warehou...",Hyderabad
11,Kalpana Dumpala,Executive Hiring,Innominds Software,"Qa, Ui/ux, Java Developer, Java Arch...",Hyderabad / Secunderabad
12,Mubarak,Company HR,MoneyTap,"Business Intelligence, Data Warehousing,...",Bengaluru / Bangalore
13,Kushal Rastogi,Company HR,QuantMagnum Technologies Pvt. Ltd.,"Office Administration, Hr Administration...",Mumbai
14,Mahesh Babu Channa,HR Team Lead,SocialPrachar.com,"Social Media, digital media maketing, ...",Hyderabad / Secunderabad
15,Sakshi Chhikara,Assistant Manager HR,BIZ INFOTECNO PRIVATE LIMITED,"React.js, Data Science, Java, Front ...",Chandigarh
16,Kapil Devang,HR Manager,BISP Solutions,"Big Data, Hadoop, Data Analytics, Da...",Bhopal
17,Ruchi Dhote,Senior Executive Talent Acquisition,Bristlecone India Ltd,"Qlikview, Qlik Sense, Microsoft Azure,...",Pune
18,Manisha Yadav,HR Executive,Easi Tax,"Telecalling, Client Interaction, Marke...",Navi Mumbai
19,Riya Rajesh,Manager Talent Acquisition,Novelworx Digital Solutions,Data Science,Cochin
20,Rashmi Bhattacharjee,HR Head,AXESTRACK SOFTWARE SOLUTIONS PRIVATE...,"Corporate Sales, Software Development, ...",Delhi
21,Faizan Kareem,HR MANAGER,FirstTech Consaltants Pvt.Ltd,"Data Analytics, Data Science, Machine ...",Hyderabad / Secunderabad
22,Rithika dadwal,HR Recruiter,Affine Analytics,"Data Science, Machine Learning, Python...",Pune
23,Sandhya Khandagale,HR Recruiter,Compumatrice Multimedia Pvt Ltd,"Big Data, Data Science, Artificial Int...",Pune
24,Shaun Rao,Manager Human Resources,Exela Technologies,"Java, Net, Angularjs, Hr, Infrastr...",Pune
25,Azahar Shaikh,Company Recruiter,NEAL ANALYTICS SERVICES PVT LTD,"Data Science, Artificial Intelligence, ...",Pune
26,Manas,Lead Talent acquisition,Autumn Leaf Consulting Services Private...,"Software Architecture, Vp Engineering, ...",Bengaluru / Bangalore
27,kumar,Proprietor,trainin,"Data Science, Hadoop, Rpas, Devops, ...",Bengaluru / Bangalore
28,Sunil Vedula,CEO,Nanoprecise Sci Corp,"Signal Processing, Machine Learning, N...",Delhi
29,Rajat Kumar,Founder CEO,R.S Consultancy &amp; Services,"Web Technologies, Project Management, ...",Bengaluru / Bangalore
30,Dhruv Dev Dubey,Company Recruitment Head,Confidential,"Server Administartion, Verilog, Vhdl, ...",Hyderabad / Secunderabad
31,Avodha,Business Development Associate,Nikitha Palaparthi,"Ethical Hacking, Security Operations Cen...",Mysoru / Mysore
32,Jayanth N,Project Manager,"Dollarbird Information Services Pvt, Ltd","Data Analytics, Managed Services, Team...",Bengaluru / Bangalore
33,Priya Khare,Senior Manager,Independent Consultant,"Data Science, Artificial Intelligence, ...",New Delhi
34,Amit Sharma,Consultant,ASCO consulting,"Machine Learning, Artificial Intelligenc...",Chennai
35,Kanan,senior technology instructor,NY INST,"C, C++, Artificial Intelligence, Pyt...",Aligarh
36,Shashikant Chaudhary,HR Recruiter/HR Excutive,3D India Staffing Research &amp; Consulting...,"Relationship Management, Retail Sales, ...",Salt Lake City
37,Brad,"Manager, Technical Recruiting",O.C. Tanner,"Data Science, Software Engineering",Pune
38,Rutuja Pawar,Technical Recruiter,Demand Matrix,"Data Science, Big Data Analytics, Digi...",Bengaluru / Bangalore
39,Madhusudhan Sridhar,Erp Implementer,MADHUSUDHAN SRIDHAR,"Data Science, Recruitment, Salary",Mumbai

In [92]:
df_naukri.to_csv('datascience_recruiter.csv')

# 8) Scrape the details of Highest selling novels.
### Url = https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey- compare/
You have to find the following details:
A) Book name
B) Author name
C) Volumes sold
D) Publisher
E) Genre

In [71]:
driver=webdriver.Edge('msedgedriver.exe')

In [72]:
url='https://www.theguardian.com/news/datablog/2012/aug/09/best-selling-books-all-time-fifty-shades-grey-compare'
driver.get(url)

In [74]:
book_name=[]
author_name=[]
volumes_sold=[]
publisher=[]
genre=[]

#Scraping Book name
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[2]"):
        book_name.append(i.text)
except:
    NoSuchElementException
    book_name.append('--')
    
#Scraping the Author Name
for i in driver.find_elements_by_xpath("//tbody/tr/td[3]"):
    try:
        if i.text == '0' : raise NoSuchElementException
        author_name.append(i.text)
    except NoSuchElementException:
        author_name.append('-')

# Scraping Volume Sold
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[4]"):
        volumes_sold.append(i.text)
except:
    NoSuchElementException
    volumnes_sold.append('--')
    
# Scraping Publisher data
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[5]"):
        publisher.append(i.text)
except:
    NoSuchElementException
    publisher.append('--')
    
#Scraping Genre data
try:
    for i in driver.find_elements_by_xpath("//table[@class='in-article sortable']//tbody//tr//td[6]"):
        genre.append(i.text)
except:
    NoSuchElementException
    genre.append('--')

In [75]:
df_guardian=pd.DataFrame()
df_guardian['Book Name']=book_name
df_guardian['Author Name']=author_name
df_guardian['Volumes Sold']=volumes_sold
df_guardian['Publisher']=publisher
df_guardian['Genre']=genre
df_guardian

,Book Name,Author Name,Volumes Sold,Publisher,Genre
0,"Da Vinci Code,The","Brown, Dan","5,094,805",Transworld,"Crime, Thriller & Adventure"
1,Harry Potter and the Deathly Hallows,"Rowling, J.K.","4,475,152",Bloomsbury,Children's Fiction
2,Harry Potter and the Philosopher's Stone,"Rowling, J.K.","4,200,654",Bloomsbury,Children's Fiction
3,Harry Potter and the Order of the Phoenix,"Rowling, J.K.","4,179,479",Bloomsbury,Children's Fiction
4,Fifty Shades of Grey,"James, E. L.","3,758,936",Random House,Romance & Sagas
...,...,...,...,...,...
95,"Ghost,The","Harris, Robert","807,311",Random House,General & Literary Fiction
96,Happy Days with the Naked Chef,"Oliver, Jamie","794,201",Penguin,Food & Drink: General
97,"Hunger Games,The:Hunger Games Trilogy","Collins, Suzanne","792,187",Scholastic Ltd.,Young Adult Fiction
98,"Lost Boy,The:A Foster Child's Search for the L...","Pelzer, Dave","791,507",Orion,Biography: General
99,Jamie's Ministry of Food:Anyone Can Learn to C...,"Oliver, Jamie","791,095",Penguin,Food & Drink: General

In [93]:
df_guardian.to_csv('top_novels.csv')

# 9 ) Scrape the details most watched tv series of all time from imdb.com. Url = https://www.imdb.com/list/ls095964455/
You have to find the following details:
A) Name
B) Year span
C) Genre
D) Run time
E) Ratings
F) Votes

In [76]:
driver=webdriver.Edge('msedgedriver.exe')

In [77]:
url='https://www.imdb.com/list/ls095964455/'
driver.get(url)

In [78]:
Name=[]
Year_span=[]
Genre=[]
Run_time=[]
Ratings=[]
Votes=[]

# Scraping the Name of most watched TV Series
try:
    for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//h3//a"):
        Name.append(i.text)
except:
    NoSuchElementException
    Name.append('--')
    
# Scraping the Year Span data
try:
    for i in driver.find_elements_by_xpath("//span[@class='lister-item-year text-muted unbold']"):
        Year_span.append(i.text.replace('(','').replace(')',''))
except:
    NoSuchElementException
    Year_span.append('--')

# Scraping the Genre of most watched TV Series
try:
    for i in driver.find_elements_by_xpath("//span[@class='genre']"):
        Genre.append(i.text)
except:
    NoSuchElementException
    Genre.append('--')
    
#Scraping the Run time data
try:
    for i in driver.find_elements_by_xpath("//span[@class='runtime']"):
        Run_time.append(i.text)
except:
    NoSuchElementException
    Run_time.append('--')
    
# Scraping the Ratings
try:
    for i in driver.find_elements_by_xpath("//div[@class='ipl-rating-star small']//span[2]"):
        Ratings.append(i.text)
except:
    NoSuchElementException
    Ratings.append('--')
    
# Scraping the Votes
try:
    for i in driver.find_elements_by_xpath("//div[@class='lister-item-content']//p[4]//span[2]"):
        Votes.append(i.text)
except:
    NoSuchElementException
    Votes.append('--')

In [79]:
df_imdb=pd.DataFrame()
df_imdb['Name']=Name
df_imdb['Year Span']=Year_span
df_imdb['Genre']=Genre
df_imdb['Run Time']=Run_time
df_imdb['Ratings']=Ratings
df_imdb['Votes']=Votes
df_imdb

,Name,Year Span,Genre,Run Time,Ratings,Votes
0,Game of Thrones,2011–2019,"Action, Adventure, Drama",57 min,9.2,"1,979,451"
1,Stranger Things,2016–,"Drama, Fantasy, Horror",51 min,8.7,"985,132"
2,The Walking Dead,2010–2022,"Drama, Horror, Thriller",44 min,8.2,"943,474"
3,13 Reasons Why,2017–2020,"Drama, Mystery, Thriller",60 min,7.5,"281,854"
4,The 100,2014–2020,"Drama, Mystery, Sci-Fi",43 min,7.6,"241,793"
...,...,...,...,...,...,...
95,Reign,2013–2017,"Drama, Fantasy",42 min,7.4,"48,508"
96,A Series of Unfortunate Events,2017–2019,"Adventure, Comedy, Drama",50 min,7.8,"59,143"
97,Criminal Minds,2005–2020,"Crime, Drama, Mystery",42 min,8.1,"188,639"
98,Scream: The TV Series,2015–2019,"Comedy, Crime, Drama",45 min,7.1,"39,979"
99,The Haunting of Hill House,2018,"Drama, Horror, Mystery",572 min,8.6,"226,117"

In [80]:
df_imdb.to_csv('Most_watched_tvseries.csv')

# 10) Details of Datasets from UCI machine learning repositories. Url = https://archive.ics.uci.edu/
You have to find the following details:
A) Dataset name
B) Data type
C) Task
D) Attribute type
E) No of instances
F) No of attribute
G) Year

In [81]:
driver=webdriver.Edge('msedgedriver.exe')

In [82]:
url='https://archive.ics.uci.edu/'
driver.get(url)

In [83]:
view_all=driver.find_element_by_xpath("//span[@class='whitetext']//b")

In [84]:
view_all.click()

In [85]:
database_name=[]
database_type=[]
task=[]
attr_type=[]
instances=[]
attributes=[]
year=[]

#Scraping Database name:
try:
    for i in driver.find_elements_by_xpath("//p[@class='normal']//b//a"):
        database_name.append(i.text)
except:
    NoSuchElementException
    database_name.append('--')
    
# Scraping the Database Type
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']//tbody//tr//td[2]//p"):
        database_type.append(i.text)
except:
    NoSuchElementException
    database_type.append('--')
    
# Scraping the Task
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']//tbody//td[3]//p"):
        task.append(i.text)
except:
    NoSuchElementException
    task.append('--')
    
# Scraping Attribute Type
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']//tbody//td[4]//p"):
        attr_type.append(i.text)
except:
    NoSuchElementException
    attr_type.append('--')
    
# Scraping No of Instances
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']//tbody//td[5]//p"):
        instances.append(i.text)
except:
    NoSuchElementExcpetion
    instances.append('--')
    
# Scraping No of Attributes
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']//tbody//td[6]//p"):
        attributes.append(i.text)
except:
    NoSuchElementException
    attributes.append('--')
    
# Scraping Year
try:
    for i in driver.find_elements_by_xpath("//table[@border='1']//tbody//td[7]//p"):
        year.append(i.text)
except:
    NoSuchElementException
    year.append('--')

In [86]:
df_uci=pd.DataFrame()
df_uci['Database Name']=database_name[:200]
df_uci['Database Type']=database_type[2:401:2]
df_uci['Task']=task[1:201]
df_uci['Attribute Type']=attr_type[1:201]
df_uci['No of Instances']=instances[1:201]
df_uci['No of Attributes']=attributes[1:201]
df_uci['Year']=year[1:201]
df_uci

,Database Name,Database Type,Task,Attribute Type,No of Instances,No of Attributes,Year
0,Abalone,Multivariate,Classification,"Categorical, Integer, Real",4177,8,1995
1,Adult,Multivariate,Classification,"Categorical, Integer",48842,14,1996
2,Annealing,Multivariate,Classification,"Categorical, Integer, Real",798,38,
3,Anonymous Microsoft Web Data,,Recommender-Systems,Categorical,37711,294,1998
4,Arrhythmia,Multivariate,Classification,"Categorical, Integer, Real",452,279,1998
...,...,...,...,...,...,...,...
195,MiniBooNE particle identification,Multivariate,Classification,Real,130065,50,2010
196,YearPredictionMSD,Multivariate,Regression,Real,515345,90,2011
197,PEMS-SF,"Multivariate, Time-Series",Classification,Real,440,138672,2011
198,OpinRank Review Dataset,Text,,,,,2011
199,Relative location of CT slices on axial axis,Domain-Theory,Regression,Real,53500,386,2011

In [87]:
df_uci.to_csv('uci_data.csv')