In [192]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

# 1) Write a python program to display all the header tags from wikipedia.org

In [2]:
page=requests.get("https://www.wikipedia.org/")
page

In [3]:
soup=BeautifulSoup(page.content)

In [4]:
page = requests.get('https://www.wikipedia.org/')
soup = BeautifulSoup(page.text, 'lxml')
print("List of all the Header :\n")
for heading in soup.find_all(["h1", "h2", "h3"]):
    print(heading.name + ' ' + heading.text.strip())

List of all the Header :

h1 Wikipedia

The Free Encyclopedia
h2 1 000 000+


articles
h2 100 000+


articles
h2 10 000+


articles
h2 1 000+


articles
h2 100+


articles

# 2)Write a python program to display IMDB’s Top rated 100 movies’ data (i.e. name, rating, year of release) and make data frame

In [5]:
page=requests.get('https://www.imdb.com/list/ls006266261/')
page

In [6]:
soup=BeautifulSoup(page.content,"html.parser")

In [7]:
movie=soup.find_all('div',class_="lister-item-content")

In [8]:
movies_name=[]
ratings=[]
years_of_release=[]

In [9]:
for i in movie:
    name=i.h3.a.text
    movies_name.append(name)
    
    year=i.find('span',class_="lister-item-year text-muted unbold").text.replace('(',"").replace(')',"")
    years_of_release.append(year)
    
    rating=i.find('span',class_="ipl-rating-star__rating").text
    ratings.append(rating)

In [10]:
print(len(movies_name),len(years_of_release),len(ratings))

100 100 100

In [11]:
df=pd.DataFrame()
df['Movies Name']=movies_name
df['Ratings']=ratings
df['Years of Release']=years_of_release
print('IMDB’s Top rated 100 movies')
df.head(100)

IMDB’s Top rated 100 movies

               Movies Name Ratings Years of Release
0            The Godfather     9.2             1972
1               Goodfellas     8.7             1990
2             Pulp Fiction     8.9             1994
3       The Usual Suspects     8.5             1995
4           Apocalypse Now     8.5             1979
..                     ...     ...              ...
95            Men in Black     7.3             1997
96  No Country for Old Men     8.2             2007
97               Airplane!     7.7             1980
98     There Will Be Blood     8.2             2007
99               Inception     8.8             2010

[100 rows x 3 columns]

# 3 ) Write a python program to display IMDB’s Top rated 100 Indian movies’ data (i.e. name, rating, year of release) and make data frame.

In [12]:
page=requests.get('https://www.imdb.com/search/title/?count=100&groups=top_1000&sort=user_rating')
page

In [13]:
soup=BeautifulSoup(page.content,"html.parser")

In [14]:
movie_data=soup.find_all('div',attrs={'class':"lister-item mode-advanced"})

In [15]:
movies=[]
years=[]
ratings=[]

In [16]:
for i in movie_data:
    name=i.h3.a.text
    movies.append(name)
    
    year=i.h3.find('span',class_="lister-item-year text-muted unbold").text.replace('(',"").replace(')',"")
    years.append(year)
    
    rating=i.find('div',class_="inline-block ratings-imdb-rating").text.replace('\n',"")
    ratings.append(rating)

In [17]:
print(len(movies),len(years),len(ratings))

100 100 100

In [18]:
df=pd.DataFrame()
df['Movies Name']=movies
df['Ratings']=ratings
df['Year of Release']=years
print("IMDB’s Top rated 100 Indian movies")
df.head(100)

IMDB’s Top rated 100 Indian movies

                                          Movies Name Ratings Year of Release
0                                            Jai Bhim     9.5            2021
1                                     Soorarai Pottru     9.3            2020
2                            The Shawshank Redemption     9.3            1994
3                                       The Godfather     9.2            1972
4                                     The Dark Knight     9.1            2008
..                                                ...     ...             ...
95                                        The Shining     8.4            1980
96                                  Tengoku to jigoku     8.4            1963
97  Dr. Strangelove or: How I Learned to Stop Worr...     8.4            1964
98                        Witness for the Prosecution     8.4            1957
99                                     Paths of Glory     8.4            1957

[100 rows x 3 columns]

# 4) Write a python program to scrape product name, price and discounts from https://meesho.com/bags-ladies/pl/p7vbp .

In [19]:
page=requests.get('https://meesho.com/bags-ladies/pl/p7vbp')
page

In [20]:
soup=BeautifulSoup(page.content,"html.parser")

In [21]:
product_data=soup.find_all('div',class_="Card__BaseCard-sc-b3n78k-0 dUNFgg NewProductCard__DetailCard_Desktop-sc-j0e7tu-2 fqvaeS NewProductCard__DetailCard_Desktop-sc-j0e7tu-2 fqvaeS")

In [22]:
product_name=[]
prices=[]
discounts=[]

In [23]:
for i in product_data:
    name=i.find('p',class_="Text__StyledText-sc-oo0kvp-0 bWSOET NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS NewProductCard__ProductTitle_Desktop-sc-j0e7tu-4 cQhePS").text
    product_name.append(name)
    
    price=i.find('h5',class_="Text__StyledText-sc-oo0kvp-0 hiHdyy").text.replace('₹',"")
    prices.append(price)
    
    discount=i.find('p',class_="Text__StyledText-sc-oo0kvp-0 fCJVtz NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm NewProductCard__DiscountTextParagraph-sc-j0e7tu-16 kmYsnm").text.replace('₹',"")
    discounts.append(discount)

In [24]:
print(len(product_name),len(prices),len(discounts))

20 20 20

In [25]:
df=pd.DataFrame()
df['Product Name']=product_name
df['Prices']=prices
df['Discounts']=discounts
df

,Product Name,Prices,Discounts
0,Trendy Fancy Women Handbags,199,85 discount on 1st order
1,Gorgeous Stylish Women Handbags,0 onwards,0 discount on 1st order
2,Elegant Attractive Women Handbags,510,100 discount on 1st order
3,Gorgeous Classy Women Handbags,187,79 discount on 1st order
4,Voguish Fashionable Women Handbags,227,97 discount on 1st order
5,Elegant Stylish Women Handbags,210,89 discount on 1st order
6,Classic Attractive Women Handbags,130,55 discount on 1st order
7,Elegant Fancy Women'S Pu Leather Hand Bags,164,70 discount on 1st order
8,Elegant Fancy Women's Bags,181,77 discount on 1st order
9,Classic Alluring Women Handbags,189,80 discount on 1st order
10,Voguish Alluring Women Handbags,203,87 discount on 1st order
11,Classic Fashionable Women Handbags,0 onwards,0 discount on 1st order
12,Wonderful Women Women Handbags,206,88 discount on 1st order
13,Elite Fancy Women Handbags,137,58 discount on 1st order
14,Trendy Stylish Women Handbags,189,81 discount on 1st order
15,Ravishing Stylish Women Handbags,151,64 discount on 1st order
16,Trendy Stylish Women Handbags,201,86 discount on 1st order
17,Voguish Alluring Women Handbags,469,100 discount on 1st order
18,Gorgeous Attractive Women Handbags,187,79 discount on 1st order
19,Elegant Versatile Women Handbags,199,85 discount on 1st order

# 5) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

### Top 10 ODI Batsmen along with the records of their team and rating.

In [26]:
# Batsmen Record

page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page

In [27]:
soup=BeautifulSoup(page.content,"html.parser")

In [28]:
batsmen=soup.find_all('tr',class_="table-body")

In [29]:
team=[]
rating=[]
player=[]
for i in batsmen:
#Teams
    teams=i.find('td',class_="table-body__cell nationality-logo").text.replace('\n',"")
    team.append(teams)
    
#Rating    
    rate=i.find('td',class_="table-body__cell u-text-right rating").text
    rating.append(rate)
    
#Player
    play=i.find('td',class_="table-body__cell name").text.replace('\n',"")
    player.append(play)

In [30]:
df=pd.DataFrame()
df['Players']=player
df['Teams']=team
df['Ratings']=rating
df

                  Players Teams Ratings
0             Virat Kohli   IND     811
1            Rohit Sharma   IND     791
2         Quinton de Kock    SA     783
3             Aaron Finch   AUS     779
4          Jonny Bairstow   ENG     775
5            David Warner   AUS     762
6   Rassie van der Dussen    SA     750
7            Fakhar Zaman   PAK     741
8                Joe Root   ENG     740
9          Josh Hazlewood   AUS     709
10           Chris Woakes   ENG     700
11             Matt Henry    NZ     691
12       Mujeeb Ur Rahman   AFG     681
13         Jasprit Bumrah   IND     679
14           Mehedi Hasan   BAN     675
15         Mitchell Starc   AUS     652
16            Rashid Khan   AFG     650
17           Andy McBrine   IRE     646
18          Mohammad Nabi   AFG     295
19           Chris Woakes   ENG     282
20            Rashid Khan   AFG     276
21       Mitchell Santner    NZ     268
22             Ben Stokes   ENG     266
23             Imad Wasim   PAK     256
24          Jimmy Neesham    NZ     226
25        Ravindra Jadeja   IND     224
26          Sean Williams   ZIM     224
27            Virat Kohli   IND     811
28           Rohit Sharma   IND     791
29        Quinton de Kock    SA     783
30            Aaron Finch   AUS     779
31         Jonny Bairstow   ENG     775
32           David Warner   AUS     762
33  Rassie van der Dussen    SA     750
34           Fakhar Zaman   PAK     741
35               Joe Root   ENG     740
36         Josh Hazlewood   AUS     709
37           Chris Woakes   ENG     700
38             Matt Henry    NZ     691
39       Mujeeb Ur Rahman   AFG     681
40         Jasprit Bumrah   IND     679
41           Mehedi Hasan   BAN     675
42         Mitchell Starc   AUS     652
43            Rashid Khan   AFG     650
44           Andy McBrine   IRE     646
45          Mohammad Nabi   AFG     295
46           Chris Woakes   ENG     282
47            Rashid Khan   AFG     276
48       Mitchell Santner    NZ     268
49             Ben Stokes   ENG     266
50             Imad Wasim   PAK     256
51          Jimmy Neesham    NZ     226
52        Ravindra Jadeja   IND     224
53          Sean Williams   ZIM     224

#### Top 10 ODI teams in men’s cricket along with the records for matches, points and rating.

In [31]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings/odi")
page

In [32]:
soup=BeautifulSoup(page.content,"html.parser")

In [33]:
# Points

points=[]
for i in soup.find_all('div',class_="rankings-block__banner--rating"):
    points.append(i.text)
print("Points are")
print(points)

Points are
['873', '737', '400', '873', '737', '400']

In [34]:
# Ratings

rating=[]
for i in soup.find_all('td', class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
print(rating)

['811', '791', '783', '779', '775', '762', '750', '741', '740', '709', '700', '691', '681', '679', '675', '652', '650', '646', '295', '282', '276', '268', '266', '256', '226', '224', '224', '811', '791', '783', '779', '775', '762', '750', '741', '740', '709', '700', '691', '681', '679', '675', '652', '650', '646', '295', '282', '276', '268', '266', '256', '226', '224', '224']

### Top 10 ODI bowlers along with the records of their team and rating.

In [35]:
page=requests.get("https://www.icc-cricket.com/rankings/mens/player-rankings")
page

In [36]:
soup=BeautifulSoup(page.content,"html.parser")

In [37]:
# Bowling team
team=[]
for i in soup.find_all('td',class_="table-body__cell nationality-logo"):
    team.append(i.text.replace('\n',""))
print(team)

['ENG', 'AUS', 'NZ', 'AUS', 'IND', 'IND', 'SL', 'PAK', 'AUS', 'IND', 'SA', 'PAK', 'NZ', 'NZ', 'ENG', 'AUS', 'NZ', 'IND', 'IND', 'IND', 'BAN', 'AUS', 'ENG', 'NZ', 'AUS', 'NZ', 'ENG', 'ENG', 'AUS', 'NZ', 'AUS', 'IND', 'IND', 'SL', 'PAK', 'AUS', 'IND', 'SA', 'PAK', 'NZ', 'NZ', 'ENG', 'AUS', 'NZ', 'IND', 'IND', 'IND', 'BAN', 'AUS', 'ENG', 'NZ', 'AUS', 'NZ', 'ENG']

In [38]:
# Bowling rating

ratings=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text)
print(ratings)

['872', '845', '844', '773', '773', '767', '754', '750', '714', '839', '835', '822', '820', '790', '788', '786', '777', '763', '330', '326', '324', '298', '287', '274', '250', '245', '232', '872', '845', '844', '773', '773', '767', '754', '750', '714', '839', '835', '822', '820', '790', '788', '786', '777', '763', '330', '326', '324', '298', '287', '274', '250', '245', '232']

In [39]:
df=pd.DataFrame()
df['Team']=team
df['Rating']=ratings
print('Men ODI Bowler')
df

Men ODI Bowler

   Team Rating
0   ENG    872
1   AUS    845
2    NZ    844
3   AUS    773
4   IND    773
5   IND    767
6    SL    754
7   PAK    750
8   AUS    714
9   IND    839
10   SA    835
11  PAK    822
12   NZ    820
13   NZ    790
14  ENG    788
15  AUS    786
16   NZ    777
17  IND    763
18  IND    330
19  IND    326
20  BAN    324
21  AUS    298
22  ENG    287
23   NZ    274
24  AUS    250
25   NZ    245
26  ENG    232
27  ENG    872
28  AUS    845
29   NZ    844
30  AUS    773
31  IND    773
32  IND    767
33   SL    754
34  PAK    750
35  AUS    714
36  IND    839
37   SA    835
38  PAK    822
39   NZ    820
40   NZ    790
41  ENG    788
42  AUS    786
43   NZ    777
44  IND    763
45  IND    330
46  IND    326
47  BAN    324
48  AUS    298
49  ENG    287
50   NZ    274
51  AUS    250
52   NZ    245
53  ENG    232

# 6) Write a python program to scrape cricket rankings from icc-cricket.com. You have to scrape:

 ### Top 10 ODI teams in women’s cricket along with the records for matches, points and rating.

In [40]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/team-rankings/odi")
page

In [41]:
soup=BeautifulSoup(page.content,"html.parser")

In [42]:
# team

team=[]
for i in soup.find_all('span',class_="u-hide-phablet"):
    team.append(i.text)
team

['Australia',
 'South Africa',
 'England',
 'India',
 'New Zealand',
 'Bangladesh',
 'West Indies',
 'Pakistan',
 'Ireland',
 'Sri Lanka',
 'Zimbabwe',
 '',
 '',
 '',
 '',
 '']

In [43]:
points=[]
for i in soup.find_all('td',class_="table-body__cell u-center-text"):
    points.append(i.text.replace("\n",""))
print(points)

['21', '2,580', '21', '2,474', '22', '2,221', '24', '2,342', '5', '475', '21', '1,801', '19', '1,304', '5', '240', '5', '233', '8', '0']

In [44]:
# Rating

ratings=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    ratings.append(i.text.replace('\n'," "))
print(ratings)

['123', '118', '101', '98', '95', '86', '69', '48', '47', '0']

In [45]:
df=pd.DataFrame()
df['Ratings']=ratings
df

  Ratings
0     123
1     118
2     101
3      98
4      95
5      86
6      69
7      48
8      47
9       0

#### Top 10 women’s ODI Batting players along with the records of their team and rating.

In [46]:
page=requests.get("https://www.icc-cricket.com/rankings/womens/overview")
page

In [47]:
soup=BeautifulSoup(page.content,"html.parser")

In [48]:
# Team

team=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
print(team)

['IND', 'ENG', 'AUS', 'AUS', 'AUS', 'IND', 'IND', 'NZ', 'ENG', 'AUS', 'IND', 'SA', 'ENG', 'SA', 'IND', 'AUS', 'ENG', 'SA', 'NZ', 'IND', 'ENG', 'IND', 'SCO', 'WI']

In [49]:
# Rating

rating=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
print(rating)

['123', '118', '101', '98', '285', '267', '262', '252', '735', '707', '706', '705', '714', '710', '695', '694', '746', '735', '695', '689', '722', '718', '692', '676', '351', '327', '312', '309', '352', '319', '295', '292']

### Top 10 women’s ODI all-rounder along with the records of their team and rating.

In [51]:
# Team

team=[]
for i in soup.find_all('span',class_="table-body__logo-text"):
    team.append(i.text)
print(team)

['IND', 'ENG', 'AUS', 'AUS', 'AUS', 'IND', 'IND', 'NZ', 'ENG', 'AUS', 'IND', 'SA', 'ENG', 'SA', 'IND', 'AUS', 'ENG', 'SA', 'NZ', 'IND', 'ENG', 'IND', 'SCO', 'WI']

In [52]:
# Rating

rating=[]
for i in soup.find_all('td',class_="table-body__cell u-text-right rating"):
    rating.append(i.text)
print(rating)

['123', '118', '101', '98', '285', '267', '262', '252', '735', '707', '706', '705', '714', '710', '695', '694', '746', '735', '695', '689', '722', '718', '692', '676', '351', '327', '312', '309', '352', '319', '295', '292']

# 7) Write a python program to scrape details of all the posts from coreyms.com. Scrape the heading, date, content and the code for the video from the link for the youtube video from the post.

In [84]:
page=requests.get("https://coreyms.com/")
page

In [85]:
soup=BeautifulSoup(page.content,"html.parser")

### Heading

In [86]:
#heading
heading=[]
for i in soup.find_all('h2',class_="entry-title"):
    heading.append(i.text)
heading

['Python Tutorial: Zip Files – Creating and Extracting Zip Archives',
 'Python Data Science Tutorial: Analyzing the 2019 Stack Overflow Developer Survey',
 'Python Multiprocessing Tutorial: Run Code in Parallel Using the Multiprocessing Module',
 'Python Threading Tutorial: Run Code Concurrently Using the Threading Module',
 'Update (2019-09-03)',
 'Python Quick Tip: The Difference Between “==” and “is” (Equality vs Identity)',
 'Python Tutorial: Calling External Commands Using the Subprocess Module',
 'Visual Studio Code (Windows) – Setting up a Python Development Environment and Complete Overview',
 'Visual Studio Code (Mac) – Setting up a Python Development Environment and Complete Overview',
 'Clarifying the Issues with Mutable Default Arguments']

### Date

In [87]:
#Date
date=[]
for i in soup.find_all('time', class_="entry-time"):
    date.append(i.text)
date

['November 19, 2019',
 'October 17, 2019',
 'September 21, 2019',
 'September 12, 2019',
 'September 3, 2019',
 'August 6, 2019',
 'July 24, 2019',
 'May 1, 2019',
 'May 1, 2019',
 'April 24, 2019']

### Content

In [88]:
data=soup.find_all('div',class_="entry-content")

In [89]:
content=[]
for i in data:
    des=i.find('p').text
    content.append(des)
content

['In this video, we will be learning how to create and extract zip archives. We will start by using the zipfile module, and then we will see how to do this using the shutil module. We will learn how to do this with single files and directories, as well as learning how to use gzip as well. Let’s get started…',
 'In this Python Programming video, we will be learning how to download and analyze real-world data from the 2019 Stack Overflow Developer Survey. This is terrific practice for anyone getting into the data science field. We will learn different ways to analyze this data and also some best practices. Let’s get started…',
 'In this Python Programming video, we will be learning how to run code in parallel using the multiprocessing module. We will also look at how to process multiple high-resolution images at the same time using a ProcessPoolExecutor from the concurrent.futures module. Let’s get started…',
 'In this Python Programming video, we will be learning how to run threads concurrently using the threading module. We will also look at how to download multiple high-resolution images online using a ThreadPoolExecutor from the concurrent.futures module. Let’s get started…',
 'Hey everyone. I wanted to give you an update on my videos. I will be releasing videos on threading and multiprocessing within the next week. Thanks so much for your patience. I currently have a temporary recording studio setup at my Airbnb that will allow me to record and edit the threading/multiprocessing videos. I am going to be moving into my new house in 10 days and once I have my recording studio setup then you can expect much faster video releases. I really appreciate how patient everyone has been while I go through this move, especially those of you who are contributing monthly through YouTube ',
 'In this Python Programming Tutorial, we will be learning the difference between using “==” and the “is” keyword when doing comparisons. The difference between these is that “==” checks to see if values are equal, and the “is” keyword checks their identity, which means it’s going to check if the values are identical in terms of being the same object in memory. We’ll learn more in the video. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to run external commands using the subprocess module from the standard library. We will learn how to run commands, capture the output, handle errors, and also how to pipe output into other commands. Let’s get started…',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on Windows. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…',
 'In this Python Programming Tutorial, we will be learning how to set up a Python development environment in VSCode on MacOS. VSCode is a very nice free editor for writing Python applications and many developers are now switching over to this editor. In this video, we will learn how to install VSCode, get the Python extension installed, how to change Python interpreters, create virtual environments, format/lint our code, how to use Git within VSCode, how to debug our programs, how unit testing works, and more. We have a lot to cover, so let’s go ahead and get started…',
 'In this Python Programming Tutorial, we will be clarifying the issues with mutable default arguments. We discussed this in my last video titled “5 Common Python Mistakes and How to Fix Them”, but I received many comments from people who were still confused. So we will be doing a deeper dive to explain exactly what is going on here. Let’s get started…']

In [90]:
# Code:
code=soup.find_all('link',rel="stylesheet")
code

[<link href="https://coreyms.com/wp-content/cache/minify/119a3.css" media="all" rel="stylesheet"/>,
 <link href="https://coreyms.com/wp-content/cache/minify/4c431.css" media="all" rel="stylesheet"/>,
 <link href="//fonts.googleapis.com/css?family=Lato%3A300%2C400%2C700%7CVarela+Round&amp;ver=2.1.2" id="google-fonts-css" media="all" rel="stylesheet" type="text/css"/>,
 <link href="https://coreyms.com/wp-content/cache/minify/95173.css" media="all" rel="stylesheet"/>,
 <link href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/8.4/styles/zenburn.min.css" rel="stylesheet"/>]

In [59]:
df=pd.DataFrame()
df['Heading']=heading
df['Date']=date
df['Content']=content
df

,Heading,Date,Content
0,Python Tutorial: Zip Files – Creating and Extr...,"November 19, 2019","In this video, we will be learning how to crea..."
1,Python Data Science Tutorial: Analyzing the 20...,"October 17, 2019","In this Python Programming video, we will be l..."
2,Python Multiprocessing Tutorial: Run Code in P...,"September 21, 2019","In this Python Programming video, we will be l..."
3,Python Threading Tutorial: Run Code Concurrent...,"September 12, 2019","In this Python Programming video, we will be l..."
4,Update (2019-09-03),"September 3, 2019",Hey everyone. I wanted to give you an update o...
5,Python Quick Tip: The Difference Between “==” ...,"August 6, 2019","In this Python Programming Tutorial, we will b..."
6,Python Tutorial: Calling External Commands Usi...,"July 24, 2019","In this Python Programming Tutorial, we will b..."
7,Visual Studio Code (Windows) – Setting up a Py...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
8,Visual Studio Code (Mac) – Setting up a Python...,"May 1, 2019","In this Python Programming Tutorial, we will b..."
9,Clarifying the Issues with Mutable Default Arg...,"April 24, 2019","In this Python Programming Tutorial, we will b..."

# 8) Write a python program to scrape house details from mentioned URL. It should include house title, location, area, EMI and price from https://www.nobroker.in/ .Enter three localities which are Indira Nagar, Jayanagar, Rajaji Nagar.

In [60]:
page=requests.get("https://www.nobroker.in/property/sale/bangalore/multiple?searchParam=W3sibGF0IjoxMi45NzgzNjkyLCJsb24iOjc3LjY0MDgzNTYsInBsYWNlSWQiOiJDaElKa1FOM0dLUVdyanNSTmhCUUpyaEdEN1UiLCJwbGFjZU5hbWUiOiJJbmRpcmFuYWdhciIsInNob3dNYXAiOmZhbHNlfSx7ImxhdCI6MTIuOTk4MTczMiwibG9uIjo3Ny41NTMwNDQ1OTk5OTk5OSwicGxhY2VJZCI6IkNoSUp4Zlc0RFBNOXJqc1JLc05URy01cF9RUSIsInBsYWNlTmFtZSI6IlJhamFqaW5hZ2FyIiwic2hvd01hcCI6ZmFsc2V9LHsibGF0IjoxMi45MzA3NzM1LCJsb24iOjc3LjU4MzgzMDIsInBsYWNlSWQiOiJDaElKMmRkbFo1Z1ZyanNSaDFCT0FhZi1vcnMiLCJwbGFjZU5hbWUiOiJKYXlhbmFnYXIiLCJzaG93TWFwIjpmYWxzZX1d")
page

In [61]:
soup=BeautifulSoup(page.content,"html.parser")

In [62]:
house_data=soup.find_all('div',class_="bg-white rounded-2 bg-clip-padding overflow-hidden my-1.2p mx-0.5p tp:border-b-0 tp:shadow-cardShadow tp:mt-0.5p tp:mx-0 tp:mb:1p hover:cursor-pointer nb__2_XSE")

In [63]:
house_title=[]
location=[]
area=[]
prices=[]

In [64]:
for i in house_data:
#house_title
    title=i.h2.span.text
    house_title.append(title)
    
#location
    loc=i.find('div',class_="mt-0.5p overflow-hidden overflow-ellipsis whitespace-nowrap max-w-70 text-gray-light leading-4 po:mb-0 po:max-w-95").text
    location.append(loc)
#Area    
    areas=i.find('div',class_="font-semi-bold heading-6").text.replace(' sqft',"")
    area.append(areas)
#Price    
    price=i.find('div',class_="flex flex-col w-33pe items-center bo tp:w-half po:w-full border-r-0").text
    prices.append(price)

In [65]:
print(len(house_title),len(location),len(area),len(prices))

5 5 5 5

In [66]:
df=pd.DataFrame()
df['House title']=house_title
df['Location']=location
df['Area(in Sqft)']=area
df['Price']=prices
df

,House title,Location,Area(in Sqft),Price
0,4+ BHK In Independent House For Sale In Indi...,"Independent House, CMH Rd , Near B P Bakery","2,250","₹1.1 Crores₹4,889 per sq.ft."
1,"3 BHK Flat For Sale In Sobha Indraprastha, R...","Minerva Mills Compound,Opposite Sujata Theatre...","2,200","₹3.6 Crores₹16,364 per sq.ft."
2,3 BHK Flat For Sale In Sgrr Pallavi Pristin...,"11th Main Road,36 Cross, 4th T Block, Near ,Po...","1,340","₹1.3 Crores₹9,701 per sq.ft."
3,2 BHK Flat For Sale In Aishwaryam Gokula In ...,1st main govindraja naagar blore 560040,"1,209","₹80 Lacs₹6,617 per sq.ft."
4,3 BHK Apartment For Sale In Ashiana Gardens ...,"Ashiana Gardens Apartments 4, Sri Rama Temple...","1,780","₹1.4 Crores₹7,865 per sq.ft."

# 9) Write a python program to scrape mentioned details from dineout.co.in :

### Restaurant Name

In [167]:
page=requests.get("https://www.dineout.co.in/delhi-restaurants/buffet-special")
page

In [168]:
soup=BeautifulSoup(page.content, "html.parser")

In [171]:
res_name=soup.find_all('div', class_="restnt-info cursor")

In [172]:
rest_name=[]
for i in res_name:
    name=i.find('a',class_="restnt-name ellipsis").text
    rest_name.append(name)

In [173]:
rest_name

['Castle Barbeque',
 'Jungle Jamboree',
 'Castle Barbeque',
 'Cafe Knosh',
 'The Barbeque Company',
 'India Grill',
 'Delhi Barbeque',
 'The Monarch - Bar Be Que Village',
 'World Cafe',
 'Indian Grill Room',
 'Mad 4 Bar B Que',
 'Barbeque 29',
 'Glasshouse']

### Cuisine

In [174]:
cuisine=soup.find_all('span',class_="double-line-ellipsis")

In [175]:
cuisines=[]
for i in cuisine:
    cou=i.find('a').text
    cuisines.append(cou)

In [176]:
cuisines

['North Indian',
 'North Indian',
 'Chinese',
 'Italian',
 'North Indian',
 'North Indian',
 'North Indian',
 'North Indian',
 'North Indian',
 'North Indian',
 'North Indian',
 'North Indian',
 'European']

### Ratings

In [178]:
#Ratings
rating=[]
for i in soup.find_all('div', class_="restnt-rating rating-4"):
    rating.append(i.text)
rating

['3.5',
 '3.9',
 '3.9',
 '4.3',
 '4',
 '3.9',
 '3.7',
 '3.9',
 '4.3',
 '4.3',
 '3.6',
 '4.2',
 '4.1']

### Image URL

In [179]:
#Image
images=[]
for i in soup.find_all('img', class_="no-img"):
    images.append(i['data-src'])
images

['https://im1.dineout.co.in/images/uploads/restaurant/sharpen/8/k/b/p86792-16062953735fbe1f4d3fb7e.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/h/c/p3643-144497865356209fdd65746.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/j/o/p38113-15959192065f1fcb666130c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/p/m/p406-15438184745c04ccea491bc.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/7/q/d/p79307-16051787075fad15532bd7c.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/2/v/t/p2687-1482477169585cce712b90f.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/v/f/p52501-16006856545f68865616659.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/3/n/o/p34822-15599107305cfa594a13c24.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/1/p/y/p12366-1466935020576fa6ecdc359.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/y/d/p549-15291237715b2493bb2a415.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/4/j/e/p43488-15295778165b2b8158ceeef.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/5/w/r/p58842-15624171585d209806d9143.jpg?tr=tr:n-medium',
 'https://im1.dineout.co.in/images/uploads/restaurant/sharpen/9/m/a/p9875-1645177960620f6c68ecfef.jpg?tr=tr:n-medium']

### Location

In [182]:
#Location
location=[]
for i in soup.find_all('div',class_="restnt-loc ellipsis"):
    location.append(i.text)
location

['Connaught Place, Central Delhi',
 '3CS Mall,Lajpat Nagar - 3, South Delhi',
 'Pacific Mall,Tagore Garden, West Delhi',
 'The Leela Ambience Convention Hotel,Shahdara, East Delhi',
 'Gardens Galleria,Sector 38A, Noida',
 'Hilton Garden Inn,Saket, South Delhi',
 'Taurus Sarovar Portico,Mahipalpur, South Delhi',
 'Indirapuram Habitat Centre,Indirapuram, Ghaziabad',
 'Vibe by The Lalit Traveller,Sector 35, Faridabad',
 'Suncity Business Tower,Golf Course Road, Gurgaon',
 'Sector 29, Faridabad',
 'NIT, Faridabad',
 'DoubleTree By Hilton Gurugram Baani Square,Sector 50, Gurgaon']

In [183]:
df=pd.DataFrame({'Restaurant Name':rest_name, 'Cuisine':cuisines,'Location':location, 'Rating':rating, 'Image URL':images})
df

,Restaurant Name,Cuisine,Location,Rating,Image URL
0,Castle Barbeque,North Indian,"Connaught Place, Central Delhi",3.5,https://im1.dineout.co.in/images/uploads/resta...
1,Jungle Jamboree,North Indian,"3CS Mall,Lajpat Nagar - 3, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
2,Castle Barbeque,Chinese,"Pacific Mall,Tagore Garden, West Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
3,Cafe Knosh,Italian,"The Leela Ambience Convention Hotel,Shahdara, ...",4.3,https://im1.dineout.co.in/images/uploads/resta...
4,The Barbeque Company,North Indian,"Gardens Galleria,Sector 38A, Noida",4,https://im1.dineout.co.in/images/uploads/resta...
5,India Grill,North Indian,"Hilton Garden Inn,Saket, South Delhi",3.9,https://im1.dineout.co.in/images/uploads/resta...
6,Delhi Barbeque,North Indian,"Taurus Sarovar Portico,Mahipalpur, South Delhi",3.7,https://im1.dineout.co.in/images/uploads/resta...
7,The Monarch - Bar Be Que Village,North Indian,"Indirapuram Habitat Centre,Indirapuram, Ghaziabad",3.9,https://im1.dineout.co.in/images/uploads/resta...
8,World Cafe,North Indian,"Vibe by The Lalit Traveller,Sector 35, Faridabad",4.3,https://im1.dineout.co.in/images/uploads/resta...
9,Indian Grill Room,North Indian,"Suncity Business Tower,Golf Course Road, Gurgaon",4.3,https://im1.dineout.co.in/images/uploads/resta...
10,Mad 4 Bar B Que,North Indian,"Sector 29, Faridabad",3.6,https://im1.dineout.co.in/images/uploads/resta...
11,Barbeque 29,North Indian,"NIT, Faridabad",4.2,https://im1.dineout.co.in/images/uploads/resta...
12,Glasshouse,European,"DoubleTree By Hilton Gurugram Baani Square,Sec...",4.1,https://im1.dineout.co.in/images/uploads/resta...

# 10) Write a python program to scrape first 10 product details which include product name , price , Image URL from https://www.bewakoof.com/women-tshirts?ga_q=tshirts .

In [184]:
page=requests.get("https://www.bewakoof.com/women-tshirts?ga_q=tshirts .")
page

In [185]:
soup=BeautifulSoup(page.content,"html.parser")

### Product Name

In [186]:
#Product name
names=soup.find_all('h3',id_="")
name=[]
for i in range(0,len(names)):
    name.append(names[i].get_text())
name

['Kolkata Biryani Half Sleeve T-Shirt',
 'Moody',
 'Lal Matir Pothe Half Sleeve T-Shirt',
 'Ray Half Sleeve T-Shirt',
 'Beach Blue Half Sleeve T-Shirt',
 'Andhokar Half Sleeve T-Shirt',
 'Hobe Naki Ek Bar Half Sleeve T-Shirt',
 'Kolkata Biryani Boyfriend T-Shirt',
 'Perfect Flower',
 'Bugs On A Pocket Half Sleeve Printed T-Shirt(LTL)',
 'What choices do I have as a buyer?']

In [187]:
name.pop(10)

'What choices do I have as a buyer?'

### Price

In [188]:
#Price
prices=soup.find_all('span',class_="discountedPriceText")
price=[]
for i in range(0,len(prices)):
    price.append(prices[i].get_text().replace('₹',""))
price

[' 199',
 ' 349',
 ' 199',
 ' 199',
 ' 249',
 ' 199',
 ' 199',
 ' 299',
 ' 199',
 ' 249']

### Image URL

In [189]:
#Image URL
image=[]
for i in soup.find_all('img',class_="productImgTag"):
    image.append(i['src'])
image

['https://images.bewakoof.com/t320/kolkata-biryani-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329619-1614078349.jpg',
 'https://images.bewakoof.com/t320/moody-half-sleeve-printed-t-shirt-white-women-s-half-sleeve-printed-t-shirt-329373-1612528288.jpg',
 'https://images.bewakoof.com/t320/lal-matir-pothe-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329665-1614079154.jpg',
 'https://images.bewakoof.com/t320/ray-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329664-1614079574.jpg',
 'https://images.bewakoof.com/t320/aqua-sky-half-sleeve-t-shirt-women-s-plain-half-sleeves-t-shirt-329413-1614350444.jpg',
 'https://images.bewakoof.com/t320/andhokar-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329628-1614076846.jpg',
 'https://images.bewakoof.com/t320/hobe-naki-ek-bar-half-sleeve-t-shirt-women-s-half-sleeve-printed-t-shirt-329660-1614078109.jpg',
 'https://images.bewakoof.com/t320/kolkata-biryani-boyfriend-t-shirt-women-s-printed-boyfriend-t-shirts-329659-1614078513.jpg',
 'https://images.bewakoof.com/t320/perfect-flower-half-sleeve-printed-t-shirt-black-women-s-half-sleeve-printed-t-shirt-348061-1617978953.jpg',
 'https://images.bewakoof.com/t320/bugs-on-a-pocket-half-sleeve-printed-t-shirt-ltl-women-s-half-sleeve-printed-t-shirt-360415-1623825483.jpg']

In [190]:
print(len(price),len(name),len(image))

10 10 10

In [191]:
df=pd.DataFrame()
df['Product Name']=name
df['Price']=price
df['Image URL']=image
df

,Product Name,Price,Image URL
0,Kolkata Biryani Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/kolkata-birya...
1,Moody,349,https://images.bewakoof.com/t320/moody-half-sl...
2,Lal Matir Pothe Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/lal-matir-pot...
3,Ray Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/ray-half-slee...
4,Beach Blue Half Sleeve T-Shirt,249,https://images.bewakoof.com/t320/aqua-sky-half...
5,Andhokar Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/andhokar-half...
6,Hobe Naki Ek Bar Half Sleeve T-Shirt,199,https://images.bewakoof.com/t320/hobe-naki-ek-...
7,Kolkata Biryani Boyfriend T-Shirt,299,https://images.bewakoof.com/t320/kolkata-birya...
8,Perfect Flower,199,https://images.bewakoof.com/t320/perfect-flowe...
9,Bugs On A Pocket Half Sleeve Printed T-Shirt(LTL),249,https://images.bewakoof.com/t320/bugs-on-a-poc...